@font-face {
    font-family: Prototype;
    src: url(../fonts/Prototype.ttf);
}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  background-color: #eee;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
}

.section-header {
  height: 200px;
  font-family: Arial;
  padding: 10px;
  color: #444;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 200px;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.5);
}

.section-job {
  height: 100px;
  margin-bottom: 20px;
  font-family: Arial;
  padding: 10px;
  color: #444;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.5);

}

.section-label {
  font-family: Arial;
  color: #888;
  font-size: 30px;
  margin-bottom: 10px;
}

.image-avatar {
  display: inline-block;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-top: 8px;
  margin-left: 10px;
  border: 2px solid rgba(0,0,0,.1);
}
.image-job {
  display: inline-block;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 8px;
  margin-left: 10px;
  border: 2px solid rgba(0,0,0,.1);
}

.name {
  display: inline-block;
  font-size: 50px;
  color: #444;
  vertical-align: top;
  margin: 10px;
}
