.layout2 {
  width: 2100px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.column2 {
  display: inline-block;
  vertical-align: top;
}

.grid-row {
  display: grid;
  font-family: Prototype;
  background: linear-gradient(to right,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
  grid-template-columns: 500px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px 59px;
  width: 2093px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.grid-row > div, .grid-values > div{
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}


.grid2-mysolo {
  display: grid;
  grid-template-columns: 85px 400px;
  height: 150px;
}

.grid-results {
  display: grid;
  grid-template-columns: 120px;
}

.grid-expansions {
  display: grid;
  grid-template-columns: 120px;
}

.grid-expansions > div {
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  height: 20px;
  font-size: 13px;
}

.grid-values {
  display: grid;
  grid-template-columns: 60px 60px;
}


.grid-cell-corporation-mysolo {
  text-align: center;
  padding-right: 5px;
  font-size: 15px;
  width: 135px;
  height: 50px;
  padding-top: 5px;
  line-height: 18px;
  border-radius: 1px;
  color:black;
  font-weight: normal;
  text-shadow: none;
  transform: rotate(-90deg);
  border-right: 2px solid rgb(221,221,221) !important;
  border-left: 2px solid rgb(137,137,137) !important;
  margin-left: -42px;
  margin-top: 42px;
}

.chart-div-mysolo {
  height: 150px;
  margin-left: 20px;
}

.grid16 {
  padding:2px;
  padding-top: 4px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap:2px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  text-align: center;
}

.grid16 > div {

  font-size: 14px;
  height: 16px;
  line-height: 16px;
  width: 24px;
  border-radius: 2px;
  text-shadow: 0 0 1px #222, 0 1px 1px #222;
}

.grid-cell-solo {
      text-align: center;
      font-size: 16px;
      color: white;
      text-shadow: 0 0px 1px black, 0 1px 1px black;
      height: 20px;
      line-height: 20px;
      border-radius: 1px;
}

.grid-cell-solo-title {
      text-align: center;
      font-size: 16px;
      color: white;
      text-shadow: 0 0 1px black;
      filter: drop-shadow(0 0 5px #ccc);
      height: 23px;
      line-height: 23px;
      border-radius: 1px;
      text-align: center;
      padding-left: 8px;
}

.table-header {
  height:114px;
  padding:10px;
  padding-top: 15px;
  padding-left: 25px;
  font-family: Prototype;
  font-size: 30px;
  color: #444;
  letter-spacing: 5px;
}

.failed {
    color: #cc3333;
}
.failed::after {
  content: "\2717";
  font-size: 18px !important;
}

.background-gold {
  color: #c5c500;
  background: #444;
}

.background-silver {
  color: #ddd;
  background: #444;
}

.background-bronze {
  color: #aaa;
  background: #444;
}

.icon-mysolo:after {
        position: absolute;
        font-size: 11px;
        line-height: 15px;
        width: 16px;
        height:16px;
        text-align: center;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #eee;
        content: "";
        background-size: 10px 10px !important;
        background-position: bottom 4px right 3px !important;
        background-repeat: no-repeat !important;
  }

.icon-mode {
  background: #444;
  border-radius: 20px;
  width: 50px;
  height: 17px;
  line-height: 16px;
  margin-top: -2px;
  border: 2px solid #eee;
}

.ribbon {
  width: 100px;
  height: 15px;
  line-height: 15px;
  background: #cc3333;
  font-size: 12px;
  margin-top: 2px;
  border-radius: 1px 5px 5px 1px;
  border: 2px solid #ccc;
  border-left: none;
  box-shadow:  0 0px 2px #444, 0 2px 2px #444;
  margin-left: -4px;
  color: #eee;
  text-shadow: 0 0 3px #222;
}
