.layout2 {
  width: 2000px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.column2 {
  display: inline-block;
  vertical-align: top;
}


.grid16 {
  padding:2px;
  padding-top: 3px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap:2px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.grid16 > div {

  font-size: 16px;
  height: 20px;
  line-height: 20px;
  width: 36px;
  border-radius: 1px;
  text-shadow: 0 0 1px #222, 0 1px 1px #222;
}

.grid-cell-solo {
      text-align: center;
      font-size: 18px;
      color: white;
      text-shadow: 0 0px 1px black, 0 1px 1px black;
      height: 32px;
      line-height: 32px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
}

.grid-cell-solo-title {
      text-align: center;
      font-size: 22px;
      color: white;
      text-shadow: 0 0 0 black, 0 1px 1px black;
      height: 32px;
      line-height: 32px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
}

.grid2 {
  display: grid;
  grid-template-columns: 140px auto ;
}


.failed {
    color: #cc3333;
}
.failed::after {
  content: "\2717";
  font-size: 20px !important;
}

.background-gold {
  color: #c5c500;
  background: #444;
}

.background-silver {
  color: #ddd;
  background: #444;
}

.background-bronze {
  color: #aaa;
  background: #444;
}
