@media screen and (max-width: 1400px) {
    .grid-row {
      margin-left: 20px !important;
    }
}
.grid-row {
  display: grid;
  font-family: Prototype;
  background: linear-gradient(to right,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
  grid-template-columns: 530px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  width: 1339px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.grid-row2 {
  grid-template-columns: 120px 410px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
}

.grid-row > div, .grid-values > div, .grid-expansions > div {
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}


.grid2-mysolo {
  display: grid;
  grid-template-columns: 85px 400px;
  height: 150px;
}

.grid-results {
  display: grid;
  grid-template-columns: 120px;
  border: none !important;
  background: #ccc;
}

.grid-expansions {
  display: grid;
  grid-template-columns: 120px;
  grid-template-rows: 37px 37px 37px 37px 37px;
}

.grid-expansions > div {
    height: 27px;
    font-size: 12px;
    line-height: 27px;
    margin: 2px 5px 5px 5px;
    border-radius: 20px;
    box-shadow: 0 1px 2px #222;
}

.grid-values {

}

.grid-cell-solo-values {
      text-align: center;
      font-size: 24px;
      color: #333;
      height: 49px;
      text-align: center;
      background: #aaa;
}


.grid-cell-corporation-mysolo {
  text-align: center;
  padding-right: 5px;
  font-size: 15px;
  width: 135px;
  height: 47px;
  padding-top: 5px;
  line-height: 18px;
  border-radius: 1px;
  color:black;
  font-weight: normal;
  text-shadow: none;
  transform: rotate(-90deg) scale(0.5);
  border-right: 4px solid rgb(221,221,221) !important;
  border-top: 4px solid rgb(221,221,221) !important;
  border-left: 4px solid rgb(137,137,137) !important;
  border-bottom: 4px solid rgb(137,137,137) !important;
  margin-left: -59px;
  margin-top: 7px;
}

.chart-div-mysolo {
  height: 287px;
  padding-left: 10px;
}

.grid16 {
  display: grid;
  grid-template-rows: 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px 16px;
  grid-gap:2px;
  padding-top: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  text-align: center;
}

.grid16 > div {
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  text-shadow: 0 0 1px black, 0 1px 1px black;
}

.grid-cell-solo {
      text-align: center;
      color: white;
      text-shadow: 0 0px 1px black, 0 1px 1px black;
      line-height: 20px;
      border-radius: 1px;
}

.table-header {
  height:55px;
  line-height: 30px;
  padding:10px;
  padding-top: 5px;
  padding-left: 15px;
  font-family: Prototype;
  font-size: 28px;
  color: #444;
  letter-spacing: 1px;
}

.failed {
    color: #cc3333;
}
.failed::after {
  content: "\2717";
  font-size: 18px !important;
}

.background-gold {
  color: #c5c500;
  background: #444;
}

.background-silver {
  color: #ddd;
  background: #444;
}

.background-bronze {
  color: #aaa;
  background: #444;
}

.icon-mysolo:after {
        position: absolute;
        font-size: 11px;
        line-height: 15px;
        width: 16px;
        height:16px;
        text-align: center;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 0 2px #eee;
        content: "";
        background-size: 10px 10px !important;
        background-position: bottom 4px right 3px !important;
        background-repeat: no-repeat !important;
  }

.icon-mode {
  background: #444;
  border-radius: 20px;
  width: 50px;
  height: 17px;
  line-height: 16px;
  margin-top: -2px;
  border: 2px solid #eee;
}

.ribbon {
  width: 100px;
  height: 15px;
  line-height: 15px;
  background: #cc3333;
  font-size: 12px;
  margin-top: 2px;
  border-radius: 1px 5px 5px 1px;
  border: 2px solid #ccc;
  border-left: none;
  box-shadow:  0 0px 2px #444, 0 2px 2px #444;
  margin-left: -4px;
  color: #eee;
  text-shadow: 0 0 3px #222;
}

.background-corporate {
}
.background-venus {
  background-color: rgba(84,150,201,.3);
}
.background-prelude {
  background-color: rgba(235,118,171,0.3);
}
.background-colonies {
  background-color: #4444;
}
.background-turmoil {
  background-color: #cc333333;
}
