/* odomer used for the ark nova list */

.odometer.odometer-auto-theme, .odometer.odometer-theme-minimal {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  background: #222;
  padding-left: 1px;
  padding-right: 3px;
  border-right: 1px solid #222;
  height: 30px;
  margin-bottom: 2px;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-minimal .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
  margin: 0px 0 3px 1px;
  background: linear-gradient(#888,#fff,#888);
  padding-right: 3px;
  width: 20px;
  text-shadow: none;
  color: #222;
  font-size: 16px;
  line-height: 20px;
}
