.div {
  width: 377px;
  height: 669px;
  background: url("../images/pain-background.png");
  margin-left: auto;
  margin-right: auto;
}

#text {
  padding-top: 150px;
  width: 88%;
  height: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #384a5f;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  text-align: center;
}

#text-description {
  width: 88%;
  height: 40px;
  margin-top: 5px;
  font-style: italic;
  color: #384a5f;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  text-align: center;
}


.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  font-family: Arial;
  width: 325px;
  margin-left: 22px;
}

.grid > div {
  width: 29px;
  margin-top: -38px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-left: 1px solid black;
  font-size: 20px;
  color: white;
  text-shadow: 0 0 1px black, 0 1px 1px black;
  pointer-events: none;
}

input[type=range] {
  height: 38px;
  -webkit-appearance: none;
  margin-left: 22px;
  margin-top: 30px;
  width: 332px;

}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 340px;
  padding-left: 0px;
  padding-right: 0px;
  height: 46px;
  cursor: pointer;
  animate: 0.2s;
  background: linear-gradient(to right, white, #ff5959);
  border-radius: 8px;
  border: 1px solid #384a5f;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px 2px #384a5f;
  border: 2px solid white;
  height: 60px;
  width: 29px;
  border-radius: 8px;
  background: #384a5f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {

}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 30px;
  width: 15px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}
