@font-face {
    font-family: Prototype;
    src: url(../fonts/Prototype.ttf);
}

#form {

}

#title {
  display: inline-block;
  font-family: Prototype;
  height: 60px;
  line-height: 22px;
  text-align: center;
  border-radius: 1px;
  font-size: 16px;
  border-bottom: 2px solid rgb(221,221,221);
  border-right: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  margin-left: 33px;
  margin-top: 20px;
  margin-right: 5px;
  width: 389px;
  color: #eee;
  text-shadow: 0 0 1px black, 0 2px 1px black;
  transform-style: preserve-3d;
}

#buttonsContainer {
    background: #cccccc;
    position: relative;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 10px;
    width: 400px;
    margin-top: 20px;
    position: relative;
    transform: perspective(700px) rotateX(0deg) scale(1);
    transition: 1s;
}

.grid3-solo {
  display: grid;
  grid-template-columns: 113px 300px 50px;
}

.grid-cell-solo {
      text-align: center;
      font-size: 18px;
      color: #222;
      height: 32px;
      line-height: 32px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
}

.red-outline {
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8), 0 1px 6px 3px red !important;
}

.drop-down3 {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  outline: none;
  background: #ccc;
  color: #222;
  font-family: Prototype;
  width: 365px;
  height: 60px;
  font-size: 24px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  transition: font-size 0.3s, box-shadow 0.3s;
  padding-left: 10px;
}

.drop-down3:hover, #submit:hover {
  filter: brightness(110%);
}

#winSection, #lossSection {
  font-family: Prototype;
  display: inline-block;
  position: relative;
  width: 177px;
  height: 86px;
  font-size: 30px;
  line-height: 85px;
  text-align: center;
  background-color: #ccc;
  color:#222;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  transition: width 0.3s, background-position 0.3s;
  margin-bottom: 5px;

}

#lossSection {
  background-image: url("../images/boy2.png");
  background-repeat: no-repeat;
  background-size: 155px 145px;
  background-position: -120px -9px;
}

.boyMajk {
  background-image: url("../images/boyMajk.png") !important;
}

#winSection {
  margin-left: -2px;
  background-image: url("../images/boy3.png");
  background-repeat: no-repeat;
  background-size: 90px 90px;
  background-position: 250px 0px;
}

.drop-down2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  display: none;
  transform: scale(0);
  cursor: pointer;
  outline: none;
  position: absolute;
  margin-top: -87px;
  margin-left: 120px;
  background: #ccc;
  color: #222;
  font-family: Prototype;
  width: 120px;
  height: 90px;
  font-size: 24px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  transition: font-size 0.3s, box-shadow 0.3s;
  padding-left: 13px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.corporation-score {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  position: absolute;
  display: none;
  transform: scale(0);
  cursor: pointer;
  background: #ccc;
  color: #222;
  outline: none;
  font-family: Prototype;
  text-align: center;
  width: 116px;
  height: 86px;
  padding: 0px;
  margin-left: 14px;
  margin-top: -87px;
  font-size: 40px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

input::placeholder {
  color: #888;
  font-size: 30px;
}

.drop-down:disabled {
  opacity: 0.3;
  box-shadow: none;
  cursor: not-allowed;
}
.label-expansions {
    border-radius: 16px;
    height: 20px;
    text-align: center;
    margin-left: -20px;
    margin-top: -3px;
    letter-spacing: 1px;
}

.icon-align-solo {
  margin-left: -17px;
  margin-top: 7px;
}

.btn-expansions {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 60px;
    padding-left: 26px;
    height: 31px;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: #222;
    text-align: left;
    cursor: pointer;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    background: #ccc;
    margin-right: -2px;
    margin-bottom: 2px;
    transition: box-shadow 0.3s;
}


.btn-grid-cell-solo {
  font-family: Prototype;
  cursor: pointer;
  outline: none;
  line-height: 32px;
  margin: 4px;
  margin-bottom: 6px;
  color:#222;
  box-shadow: 0 2px 4px 1px #444;
  font-size: 16px;
  background: transparent;
  border-top: 4px solid rgb(221,221,221);
  border-left: 4px solid rgb(221,221,221);
  border-bottom: 4px solid rgb(137,137,137);
  border-right: 4px solid rgb(137,137,137);
  width:72px;
  height: 40px;
}


.btn-mode {
  height: 86px;
  line-height: 86px;
  width: 86px;
  background-color: #ccc;
  background-image: url("../images/ALL.png");
  background-repeat: no-repeat;
  background-size:  70px 70px;
  background-position: 8px 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  display: inline-block;
  font-family: Prototype;
  font-size: 20px;
  outline: none;
  color: #222;
  text-align: center;
  cursor: pointer;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  margin-right: -2px;
  margin-bottom: 2px;
  -webkit-backface-visibility: hidden; //for Safari/iOS
  backface-visibility: hidden;
  transition: box-shadow 0.3s;
}

.btn-expansions:hover {
  filter: brightness(110%);
}

.map {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 130px;
    height: 55px;
    line-height: 21px;
    font-size: 55px;
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: #222;
    text-align: center;
    cursor: pointer;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    background: #ccc;
    margin-right: -2px;
    margin-bottom: 2px;
    -webkit-backface-visibility: hidden; //for Safari/iOS
    backface-visibility: hidden;
    transition: box-shadow 0.3s;
}


.btn-map-background {
  background: #ee792b;
  border-radius: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  height: 24px;
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-filter-mode {
  background-image: url(../images/63.png);
  background-repeat: no-repeat;
  background-size: 27px 27px;
  background-position: 14px 4px;
  line-height: 34px;
  font-size: 12px;
}

.btn-result {
  width: 177px;
}

#confirm {
  display: none;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Prototype;
  border-radius: 1px;
  font-size: 30px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  color: white;
  text-shadow: 0 0 1px black, 0 2px 2px black;
  background: rgba(0,0,0,0.3);
  letter-spacing: 1px;
  width: 270px;
  margin-left: 88px;
  height: 90px;
  margin-bottom: 30px;
}

#confirm:hover{
  background: #444;
}

.btn-submit2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  cursor: pointer;
  font-family: Prototype;
  height: 60px;
  border-radius: 1px;
  font-size: 30px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  width: 393px;
  margin-left: 31px;
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: #ccc;
  color: #222;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

#submit:disabled {
  box-shadow: none;
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-delete {
  display: none;
  vertical-align: middle;
  margin-top: -14px;
  margin-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  cursor: pointer;
  font-family: Prototype;
  height: 60px;
  border-radius: 1px;
  font-size: 14px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  width: 100px;
  background-color: rgb(102, 25, 25);
  background-color: rgb(102, 25, 25);
  color: #ccc;
  text-shadow: 0 0px 0px black;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}



.checkbox{
  display: none;
}

.checkbox:checked + label, input[type=radio]:checked + label {
    border: 2px solid rgb(221,221,221);
    border-top: 2px solid rgb(137,137,137);
    border-left: 2px solid rgb(137,137,137);
    background-color: rgba(0,0,0,.7) !important ;
    color: white;
    text-shadow: 0 0 1px black, 0 2px 1px black;
    box-shadow: inset 0 1px 3px 1px black;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.change-colours2 {
  background-color: rgba(0,0,0,.7) !important ;
  color: white !important ;
  text-shadow: 0 3px 1px black;
  box-shadow: inset 0 1px 3px 1px black !important;
  border: 2px solid rgb(221,221,221) !important ;
  border-top: 2px solid rgb(137,137,137) !important ;
  border-left: 2px solid rgb(137,137,137) !important ;
}

.change-colours3 {
  color: white !important ;
  text-shadow: 0 3px 1px black;
  box-shadow: none !important;
  border: none !important;
  background-color: transparent !important;
}


.fieldset-alignment {
  margin-bottom: -4px;
  margin-left: 32px;
  vertical-align: top;
}

.fieldset2 {
  font-family: Prototype;
  border-radius: 2px;
  text-align: center;
  font-weight: normal;
  line-height: 10px;
  font-size: 12px;
  margin-bottom: 2px;
  color: #444;
  text-shadow: none;
}

.fieldset-alignment2 {
  display: inline-block;
  margin-top: -4px;
  color: #eee;
  text-shadow: 0 0 1px black, 0 2px 1px black;
  margin-bottom: 10px;
  height:80px;
  vertical-align: top;
  text-align: center;
  border-bottom: none;
  margin-top: -14px;
  padding-top: 3px;
  line-height: 28px;
  padding-bottom: 12px;
  font-size: 30px;
  width: 288px;
  border: none;
}

.highlight {
}


.column {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}



/* Modal Content */
#modalContent {
  margin-top: 30px;
  font-family: Prototype;
  text-align: center;

}


.close {
      position: absolute;
      margin-left: 397px;
      font-weight: bold;
      margin-top: -9px;
      font-size: 60px;
      cursor: pointer;
      text-shadow: 0 0 1px black, 0 2px 1px black;
}

.alert {
  opacity: 0;
  display: none;
  text-align: center;
  background: #444;
  margin-top: 10px;
  font-family: Prototype;
  font-size: 22px;
  height: 58px;
  line-height: 58px;
  color: #ccc;
  margin-bottom: 10px;
  border-right: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
}


.box {
  position: relative;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
  backface-visibility: hidden;
}
.ribbon span {
  font-size: 12px;
  color: #FFF;
  font-family: Prototype;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: rgb(84,150,201);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 15px;
  left: -25px;
  letter-spacing: 2px;
  text-shadow: 0 0 1px black;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}

.form {
  background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
  width: 456px;
  border-radius: 2px;
  border-top: 4px solid rgb(221,221,221);
  border-left: 4px solid rgb(221,221,221);
  border-bottom: 4px solid rgb(137,137,137);
  border-right: 4px solid rgb(137,137,137);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin-bottom: 10px;
}

.corporations-solo {
  position: relative;
  font-family: Prototype;
  background: #ccc;
  background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
  border-radius: 2px;
  width: 460px;
  text-align: center;
  margin-bottom: 10px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.corporation-row > div {
    text-align: center;
    font-size: 22px;
    height: 25px;
    line-height: 25px;
    color: #222;
    font-weight: normal;
    text-shadow: none;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.corporation-row, .corporations-header {
  display: grid;
  grid-template-columns: 220px  80px 80px 80px;
}

.corporation-name {
  color: #ffd27f !important;
  text-shadow: 0 0 1px black,  0 1px 1px black !important;
  background: #444;
  font-size: 17px !important;
}

.chart-div-solo {
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  height: 389px;
}

.chart-div-solo2 {
  height:180px;
  width: 220px;
  position: absolute;
  margin-top: -360px;
  margin-left: 230px;
}
