/* fonts */
@font-face {
    font-family: Prototype;
    src: url(../fonts/Prototype.ttf);
}

@media screen and (max-width: 520px) {
    .layout {
      width: 460px !important;
    }
    .playerStats {
    }
}

.buttons-container {
    position: relative;
    font-family: Prototype;
    background: #ccc;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 460px;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.buttons-container-div {
  height: 50px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.filters-div {
  width: 446px;
  line-height: 40px;
  height: 270px;
  text-align: left;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  padding: 5px;
}

.sort-menu {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  outline: none;
  font-family: Prototype;
  border-top: 4px solid rgb(221,221,221);
  border-left: 4px solid rgb(221,221,221);
  border-bottom: 4px solid rgb(137,137,137);
  border-right: 4px solid rgb(137,137,137);
  cursor: pointer;
  outline: none;
  line-height: 24px;
  box-shadow: 0 2px 4px 1px #444;
  width: 132px;
  height: 40px;
  margin:4px;
  font-size: 20px;
  padding-left: 10px;
  color:#222;
  background: transparent;
}
.sort-menu:hover {
  background: #ccc;
}

.btn-submit {
  font-family: Prototype;
  cursor: pointer;
  outline: none;
  line-height: 32px;
  height: 32px;
  margin: 4px;
  box-shadow: 0 2px 4px 1px #444;
  text-shadow: 0 0 1px black, 0 2px 2px black;
  width: 123px;
  font-size: 20px;
  color: white;
  background: transparent;
  border-top: 4px solid rgb(221,221,221);
  border-left: 4px solid rgb(221,221,221);
  border-bottom: 4px solid rgb(137,137,137);
  border-right: 4px solid rgb(137,137,137);
}

.btn-submit:hover, .btn-grid-cell:hover {
  box-shadow: 0 1px 1px 1px #444 !important;
  background: #ccc !important;

}

.btn-grid-cell {
  font-family: Prototype;
  cursor: pointer;
  outline: none;
  line-height: 32px;
  margin: 4px;
  margin-bottom: 6px;
  color:#222;
  box-shadow: 0 2px 4px 1px #444;
  font-size: 20px;
  background: transparent;
  border-top: 4px solid rgb(221,221,221);
  border-left: 4px solid rgb(221,221,221);
  border-bottom: 4px solid rgb(137,137,137);
  border-right: 4px solid rgb(137,137,137);
  width:72px;
  height: 40px;
}

.highlighed-column {
  border: 2px solid black;
}

.highlighed-sorting {
  color: orange !important;
  font-size: 23px !important;
  text-shadow: 0 0 2px black, 0 2px 2px black !important;
}

.layout {
  width: 2000px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.title-cell {
  color: white !important;
  text-shadow: 0 0 1px black, 0 2px 2px black;
  font-size:18px !important;
  background: transparent !important;

}
.chart {
  position: relative;
}

.chart-header {
  position: absolute;
  font-size:18px;
  margin-left: 425px;
  margin-top: 10px;
  color:white;
  text-shadow: 0 0 1px black, 0 2px 2px black;
}

.chart-points {
  display: inline-block;
  position: absolute;
  margin-top: -225px;
  margin-left: -220px;
  font-size: 18px;
  height: 27px;
  width: 50px;
  line-height: 27px;
  text-shadow: 0 0 5px darkorange;
  border-radius: 1px;
  border: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  background: #444;
  color: #eee;
  text-shadow: 0 2px 1px black;
  box-shadow: inset 0 1px 3px 1px black;
}

.playerStats {
    display: inline-block;
    position: relative;
    font-family: Prototype;
    grid-template-columns: auto;
    background: #ccc;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 460px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.grid3 {
  display: grid;
  grid-template-columns: 140px 274px 50px;
}

.grid4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid5 {
  display: grid;
  grid-template-columns: 140px 80px 80px 80px 80px;
}

.generalStats {
    display: grid;
    grid-template-columns: 140px 80px 80px 80px 80px;
    position: relative;
    font-family: Prototype;
    background: #ccc;
    color: #222;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 460px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.chartStats {
    display: grid;
    grid-template-columns: 460px;
    position: relative;
    font-family: Prototype;
    background: #ccc;
    color: #222;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 460px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.chart-div {
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  height: 231px;
}

.chart-div2 {
  height: 100px;
  width: 300px;
  position: absolute;
  margin-top: -230px;
  margin-left: 232px;
}

.chart-div-solo {
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  height: 426px;
}

.chart-div-solo2 {
  height:180px;
  width: 220px;
  position: absolute;
  margin-top: -400px;
  margin-left: 230px;
}

.generalStats2 {
    display: grid;
    grid-template-columns: 140px 160px 160px;
    position: relative;
    font-family: Prototype;
    background: #ccc;
    color: #222;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 460px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}


.generalStats-history {
    display: grid;
    grid-template-columns: 230px 230px;
    position: relative;
    font-family: Prototype;
    background: #ccc;
    color: #222;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 460px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.generalStats-history-solo {
    display: grid;
    grid-template-columns: 230px 230px;
    position: relative;
    font-family: Prototype;
    background: #ccc;
    color: #222;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 460px;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.grid-cell-history {
  display: grid;
  grid-template-columns: 190px 36px;
  text-align: center;
  color: #222;
  font-size: 15px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.header-cell {
  color:white;
  font-size: 20px;
  text-shadow: 0 0 1px black, 0 2px 2px black;
}

.filter-label-cell {
  color: #eee;
  line-height: 50px;
  font-size: 18px;
  text-shadow: 0 0 1px black, 0 1px 1px black;
}

.grid-cell {
      text-align: center;
      font-size: 16px;
      color: #222;
      height: 34px;
      line-height: 34px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
}

.grid-cell-stats {
      padding-left: 5px;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
      transition: 0.3s;
}

.grid-cell-stats2 {
      font-size: 13px;
      height: 18px;
      line-height: 18px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
      transition: 0.3s;

}

.stats-general {
  line-height: 25px;
  padding-left: 0px;
  font-size: 20px;
  height: 60px;
}

.stats-general-maps {
  height: 106px;
  line-height: 30px;
  padding-left: 0px;
  font-size: 20px;
}

.grid-cell-corporation {
      text-align: center;
      padding-right: 5px;
      font-size: 15px;
      height: 45px;
      padding-top: 5px;
      line-height: 18px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
      color:black;
      font-weight: normal;
      text-shadow: none;
}

.corporations-font-size {
}

.grid-corporations-title {
  height:46px !important;
  line-height:46px !important;
  color: white !important;
  text-shadow: 0 0 1px black, 0 2px 2px black !important;
}

.header {
  border-left: none;
  border-right:none;
  background: transparent;
  color: white;
  text-shadow: 0 0 1px black, 0 3px 1px black;
}

.header-big {
  color: white;
  background: transparent;
  text-shadow: 0 0 1px black, 0 3px 1px black;
  width: 456px;
}

.header-section {
  text-align: left;
  padding-left: 35px;
}

.ratio {
  font-size: 18px;
  width: 30px;
  color: #222;
  margin-left: 38px;
  margin-top: 16px;
  text-shadow: none;
  text-align: right;

}

.points {
  display: inline-block;
  position: absolute;
  width: 40px;
  text-align: left;
  font-size: 18px;
  margin-top: 16px;
  margin-left: -35px;
  text-shadow: none;
  color: #222;
}

.winrate {
  display: inline-block;
  position: absolute;
  margin-left: -40px;
  font-size: 18px;
  height: 27px;
  width: 71px;
  line-height: 27px;
  border-radius: 1px;
  border: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  background: #444;
  color: #eee;
  text-shadow: 0 2px 1px black;
  box-shadow: inset 0 1px 3px 1px black;
}

#title-auth {
  font-family: Prototype;
  color: white;
  text-shadow: 0 0 1px black, 0 2px 2px black;
  font-size: 18px;
  height: 46px;
  line-height: 44px;
  padding-left: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border-top: 4px solid rgb(221,221,221);
  border-left: 4px solid rgb(221,221,221);
  border-bottom: 4px solid rgb(137,137,137);
  border-right: 4px solid rgb(137,137,137);
  background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
}
.link-auth {
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  font-size:24px;
}

.link-auth:hover {
  color: white;
  text-shadow: 0 0 1px black, 0 0px 3px orange;
}

.link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.link:hover {
  background: #ccc;
  box-shadow: inset 0 0 0 1px #aaa;
}


.column {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 10px;
}

.stats-awards-div {
  line-height: 18px;
  font-size: 13px;
  border-top: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
}

.stats-awards {
  display: inline-block;
  width: 110px;
  text-align: right;
  margin-right: 10px;
}

.stats-awards-values {
  display: inline-block;
  width: 30px;
  text-align: left;
}


/* Corporations CSS */

.beginner {
  border-left: 5px solid orange;
  border-right: 5px solid orange;
  box-shadow: 0 0 1px black;
  width: 110px;
  margin-left: 8px;
}

.credicor {
      text-align: center;
      font-size: 22px;
      color: white;
      font-family: 'Times New Roman';
      font-weight: normal;
      line-height: 40px;
      border: 2px solid purple;
      padding-left: 5px;
      margin-top: 2px;
      padding-right: 20px;
      margin-left: 7px;
      margin-top:-2px;
      box-shadow: 6px 6px 10px grey;
      text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple, 6px 6px 10px grey;
}

.ecoline {
  font-family: 'Arial';
  font-weight:bold;
  margin-top: 5px;
  margin-left: 8px;
  font-size:25px;
  letter-spacing: 2px;
  font-weight:normal;
  color:rgb(0,180,0);
  text-shadow: -1px 0 #404040, 0 1px #404040, 1px 0 #404040, 0 -1px #404040, 5px 5px 5px grey;
}

.helion {
  font-family: "Arial";
  color:black;
  font-size:28px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
  border:2px solid black;
  margin-top: 2px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: #e6e600;
  box-shadow: 6px 6px 6px grey;
  border-radius:2px;
  text-shadow: none;
}

.mining-guild {
  font-weight:bold;
  font-family: "Arial";
  padding: 7px;
  font-size:20px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-left:3px;
  margin-top:-5px;
  color:#c9380e;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333, 2px 2px 2px  black;
  -webkit-transform:scale(1.5,1); /* Safari and Chrome */
  -moz-transform:scale(1.5,1); /* Firefox */
  -ms-transform:scale(1.5,1); /* IE 9 */
  -o-transform:scale(1.5,1); /* Opera */
  transform:scale(1.5,1); /* W3C */
}

.thorgate {
  font-size: 19px;
  letter-spacing: 2px;
  padding: 8px;
  margin-top: -2px;
  margin-left: 2px;
  font-family: Arial;
  text-shadow: 6px 3px 5px grey;
}

.united-nations {
  font-size: 13px;
  font-family: Arial;
  font-weight: bold;
  width: 110px;
  color: white;
  margin-left: 8px;
  margin-top: -3px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  box-shadow: 3px 3px 6px grey;
  background: #3b9ae3;
}

.teractor {
  padding: 8px;
  margin-top:0px;
  color: orangered;
  font-size:22px;
  font-family: 'Times New Roman';
  font-weight:normal;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333,0px -1px #333333, 6px 3px 5px  grey;
}

.saturn-systems {
  font-family: Arial;
  font-size:11px;
  color:white;
  line-height:25px;
  background: #32004d;
  padding-top:2px;
  padding-bottom:2px;
  width:120px;
  text-align: center;
  border-radius:50%;
  font-weight:normal;
  border:2px solid white;
  box-shadow:  6px 6px 5px grey;
  margin-top: 0px;
  margin-left: 3px;
}

.aphrodite {
  font-size:20px;
  font-family: Arial;
  color: orange;
  margin-left:4px;
  font-weight:bold;
  margin-top:6px;
  text-shadow: 0 0 2px black, 6px 3px 5px  grey;
}

.celestic {
  font-family: Arial;
  font-size:20px;
  font-weight: bold;
  margin-top:5px;
  box-shadow:6px 6px 6px grey;
  margin-left:9px;
  width:110px;
}

.manutech {
  font-weight:bold;
  font-family: Arial;
  padding: 8px;
  font-size:21px;
  color: #e63900;
  margin-top:-3px;
  margin-left: 0px;
  text-shadow: 6px 3px 5px  grey;
}

.morning-star {
  font-family: Arial;
  font-size:16px;
  font-weight: bold;
  color:white;
  margin-left:4px;
  margin-top: 5px;
  line-height: 17px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 6px 3px 5px  grey;
}

.viron {
  font-size:30px;
  font-weight: bold;
  margin-top: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 6px 3px 5px  grey;
}

.point-luna {
  style="font-size:22px;
  font-family: Prototype;
  font-weight: normal;
  display:inline-block;
  margin-top: 6px;
  text-decoration: underline;
  margin-left: 7px;
  -webkit-transform:scale(1.5,1); /* Safari and Chrome */
  -moz-transform:scale(1.5,1); /* Firefox */
  -ms-transform:scale(1.5,1); /* IE 9 */
  -o-transform:scale(1.5,1); /* Opera */
  transform:scale(1.5,1); /* W3C */
}

.robinson {
  font-family: Prototype;
  margin-left:10px;
  font-size: 14px;
  line-height: 12px;
  width: 113px;
  padding-left:4px;
  text-align: center;
  background:white;
  font-weight: normal;
}

.valley {
  display:inline-block;
  margin-left:10px;
  font-size:18px;
}

.valley-background {
  color:rgb(2,125,195);
  margin-left:20px;
  background:linear-gradient(to right,rgb(2,125,195) 10%,white,white,white, white,white,white, white);
  box-shadow:3px 3px 10px 1px rgb(58,58,58);
  width:90px;
  line-height:20px;
  border-radius:8px 0px 0px 8px;
}

.arklight {
 font-size: 17px;
 font-weight: bold;
 font-family: Prototype;
 margin-left: 5px;
 letter-spacing: 1px;
 background: linear-gradient(to right,#000089,#23238d, lightblue, white);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-transform:scale(1.5,1); /* Safari and Chrome */
 -moz-transform:scale(1.5,1); /* Firefox */
 -ms-transform:scale(1.5,1); /* IE 9 */
 -o-transform:scale(1.5,1); /* Opera */
 transform:scale(1.5,1); /* W3C */
 margin-top: 3px;
 margin-bottom: -12px;
}

.arcadian {
  font-size:16px;
  padding-left:3px;
  width:110px;
  background:#eeeeee;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 3px 3px 3px grey;
  margin-left:10px;
  border-radius:5px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.splice {
  font-family: Arial;
   margin-left: 13px;
   font-size:26px;
   line-height: 31px;
   font-weight:bold;
   margin-top: -2px;
   width:109px;
   background:#eeeeee;box-shadow: 0 0 0 1px rgba(0,0,0,0.2), 3px 3px 3px grey;
}

.recyclon {
  font-family: Prototype;
  font-weight: normal;
  width: 90px;
  margin-left: 12px;
  font-size:18px;
  margin-bottom:5px;
  border-radius:25px;
  padding:10px;
  background:red;
  color:white;
  text-shadow: 0 0 1px black;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3), 3px 3px 3px #222;
}

.aridor {
  font-family: Prototype;
  font-weight: normal;
  color: #c5c553;
  letter-spacing: 3px;
  background: #cc3333;
  text-shadow: 0 0 1px black, 0 1px 1px black;
  border: 2px solid #c5c553;
  box-shadow: 1px 1px 5px 1px black;
  width: 120px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.polyphemos {
  font-family: Prototype;
  width: 128px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  border-bottom: 3px solid #cc3333;
  border-top: 3px solid #cc3333;
  margin-left: 4px;
}

.poseidon {
  display:inline-block;
  font-family: "Times New Roman", Arial;
  background: linear-gradient(rgba(0,0,0,0) 0%, #3633ff 20%, rgba(0,0,0,0) 22%, #3633ff 50%, rgba(0,0,0,0) 78%,  #3633ff 80%, rgba(0,0,0,0) 100%);
  line-height: 34px;
  color: #aaa;
  text-shadow:  0 0 1px black, 0 0 3px black;
  width: 124px;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  font-size: 22px;
  margin-left: 5px;
  margin-top: -2px;
  border-radius: 0% 100% 0% 75%;
  box-shadow: 0 4px 10px 0px black;
}

.stormcraft1 {
  display: inline-block;
  color: white;
  background: #ff9900;
  line-height: 40px;
  width: 60px;
  text-align: center;
  font-size: 18px;
  margin-left: 10px;
  margin-top: -7px;
  border-radius: 100% 0 50% 0;
  text-shadow: 0 0 6px black;
  box-shadow: 0 3px 10px 0px black;
}

.stormcraft2 {
  display: inline-block;
  line-height: 50px;
  width: 58px;
  text-align: center;
  font-size: 18px;
  margin-top: -7px;
  text-shadow: 0 5px 10px black;
}


/* expansion icons */

.icon:after {
        position: absolute;
        font-size: 11px;
        line-height: 15px;
        width: 16px;
        height:16px;
        text-align: center;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #eee, 0 0 0 2px #888;
        content: "";
        background-size: 10px 10px !important;
        background-position: bottom 4px right 3px !important;
        background-repeat: no-repeat !important;
  }

  .icon-align {
    margin-left: -15px;
    margin-top: 9px;
  }

  .icon-align2 {
    margin-top:-13px;
  }

.corporate-era-icon:after {
  background-color: #cc3333;
  background-image: url("../images/triangle16.png");
}
.corporate-era-icon2:after {
  background-color: #cc3333;
}


.venus-icon:after {
  background: rgb(84,150,201);
  background-image: url("../images/triangle16.png");
  transform: rotate(180deg);
}
.venus-icon2:after {
  background: rgb(84,150,201);
}

.prelude-icon:after {
  background: rgb(235,118,171);
  background-image: url("../images/triangle16.png");
  transform: rotate(-90deg);
}
.prelude-icon2:after {
  background: rgb(235,118,171);
}

.colonies-icon:after {
  background-color: #444;
  background-image: url("../images/triangle16.png");
}
.colonies-icon2:after {
  background-color: #444;
}

.promo-icon:after {
    background: white;
    border: 5px solid #222;
    width: 8px;
    height: 8px;
    color: white;
    content: "\0020";
}
/* buttons classes */
.button {
  outline: none;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  font-family: Prototype;
  background: #ccc;
}

.button.active {
  border: 2px solid rgb(137,137,137) ;
  box-shadow: inset 0 1px 3px 1px black;
  transform: translate(0,2px);
  background-color: #444;
  text-shadow: 0 2px 2px black;
  color: white;
}

.button:disabled {
  cursor: not-allowed;
  filter: none !important;
}

.change-colours {
  border: 2px solid rgb(137,137,137) !important;
  box-shadow: inset 0 1px 3px 1px black !important;
  transform: translate(0,2px);
  background: #444 !important;
  color:white !important;
  text-shadow: 0 3px 1px black;
}

.btn-expansion {
    outline: none;
    vertical-align: top;
    height: 40px;
    width: 72px;
    cursor: pointer;
    color:white;
    font-size: 16px;
    margin-left: -3px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.btn-draft {
  position: relative;
  outline: none;
  height: 40px;
  width: 60px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  color: #222;
  margin-left: -3px;
  font-size: 13px;
  vertical-align: top;
  font-weight: normal;

}

.btn-wgt {
  position: relative;
  outline: none;
  height: 40px;
  width: 60px;
  cursor: pointer;
  letter-spacing: 1px;
  text-align: center;
  color: #222;
  margin-left: -3px;
  margin-bottom: 15px;
  font-size: 13px;
  vertical-align: top;
  font-weight: normal;

}

.btn-map {
  outline: none;
  height: 40px;
  width: 96px;
  cursor: pointer;
  color:white;
  text-align: center;
  color: #222;
  margin-left: -3px;
  margin-bottom: 15px;
  font-size: 13px;
  vertical-align: top;
  font-weight: normal;
}

.btn-map > div {
  line-height: 16px;
  font-size: 14px;
  background: #ee792b;
  border:1px solid;
  width: 68px;
  border-radius: 20px;
  margin-left: 4px;
}

.drop-down {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  outline: none;
  background: #ccc;
  color: #222;
  font-family: Prototype;
  width: 292px;
  height: 40px;
  font-size: 16px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
  margin-left: 15px;
  padding-left: 10px;
  vertical-align: top;
  transition: font-size 0.3s, box-shadow 0.3s;
}

.drop-down-generation {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  outline: none;
  background: #ccc;
  color: #222;
  font-family: Prototype;
  width: 145px;
  height: 40px;
  font-size: 16px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
  margin-right: -3px;
  padding-left: 15px;
  transition: font-size 0.3s, box-shadow 0.3s;
}

.button-icon:after {
      margin-top: -8px;
      margin-left: -8px;
}

.btn-reset {
  font-family: Prototype;
  outline: none;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 2px 4px 1px rgba(0,0,0,.8);
  height: 40px;
  width: 123px;
  margin-left: 5px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 18px;
  background: transparent;
  color:white;
  text-shadow: 0 0 1px black, 0 2px 2px black;
}


.btn-reset:active, .btn-grid-cell:active {
  box-shadow: 0 1px 1px 0px rgba(0,0,0,.8) !important;
  transform: translate(0,2px);
}

.btn-mygames-solo {
  width: 433px;
  height: 40px;
  font-size: 16px;
  line-height: 36px;
  margin-left: 7px;
  margin-top: 5px;
  margin-bottom: 7px;
  color:#222;
}

.btn-mygames-solo:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.btn-mygames-solo:disabled {
  opacity: 0.5;
  box-shadow: none;
  cursor: not-allowed;
}

.crossed::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid;
  width: 100%;
  transform: rotate(-30deg);
  margin-top: -8px;
  margin-left: -28px;
}

.crossed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid;
  width: 100%;
  transform: rotate(30deg);
  margin-top: -8px;
  margin-left: -28px;
}

/* TOGGLE SWTICH*/
.onoffswitch {
  display: inline-block;
  margin-right: 15px;
  margin-left: 5px;
  position: relative;
  width: 123px;
  margin-top: 7px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-style: inset;
    border-radius: 1px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.2s ease-in-out 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    box-sizing: border-box;
    font-family: Prototype;
    font-weight: normal;
    line-height: 32px;
    font-size: 16px;
    box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.5);
    border-radius: 1px;
}
.onoffswitch-inner:before {
    content: "EXCLUDE";
    padding-left: 15px;
    background: #444;
    color: white;

}
.onoffswitch-inner:after {
    content: "INCLUDE";
    padding-right: 15px;
    background: #ccc;
    color: #222;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 26px;
    height: 36px;
    margin: -5px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    border-radius: 2px;
    background: #ccc;
    position: absolute;
    top: 3px;
    bottom: 0;
    right: 99px;
    box-shadow: 0 2px 4px 2px rgb(58,58,58);
    transition: all 0.2s ease-in-out 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.onoffswitch-switch:hover, .btn-map:hover, .drop-down:hover, .btn-wgt:hover, .btn-draft:hover, .btn-expansion:hover, .drop-down-generation:hover, .btn-reset:hover {
  filter: brightness(120%);
}
