
@media screen and (max-width: 480px) {
    #buttonsContainer {
        width: 400px !important;
    }
    #form {
      display: grid;
      grid-template-columns: 412px !important;
    }
    .btn-submit {
      width: 393px !important;
    }
    .modal-window {
      margin-top: 100px !important;
    }
    .layout {
      width: 446px !important;
    }

}

@font-face {
    font-family: Prototype;
    src: url(../fonts/Prototype.ttf);
}

#form {
  display: grid;
  grid-template-columns: 412px 412px;
}

#title-auth {
  font-family: Prototype;
  padding-left: 30px;
  color: #222;
  font-size: 16px;
  margin-bottom: 5px;
}

#title {
  display: inline-block;
  font-family: Prototype;
  height: 60px;
  line-height: 22px;
  text-align: center;
  border-radius: 1px;
  font-size: 16px;
  border-bottom: 2px solid rgb(221,221,221);
  border-right: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  margin-left: 2px;
  width: 261px;
  margin-bottom: 12px;
  color: #eee;
  text-shadow: 0 0 1px black, 0 2px 1px black;
  margin-right: 5px;
}

#title2 {
  display: inline-block;
  font-family: Prototype;
  height: 55px;
  padding-top: 5px;
  text-align: center;
  border-radius: 1px;
  font-size: 18px;
  border-bottom: 2px solid rgb(221,221,221);
  border-right: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  margin-left: 2px;
  width: calc(100% - 286px);
  margin-bottom: 12px;
  line-height: 22px;
  color: #eee;
  text-shadow: 0 0 1px black, 0 2px 1px black;
  vertical-align: top;
}

#title3 {
  font-size: 26px;
  margin-top: 6px;
}

#title-auth {
  font-family: Prototype;
  color: white;
  text-shadow: 0 0 1px black, 0 2px 2px black;
  font-size: 18px;
  height: 46px;
  line-height: 44px;
  padding-left: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border-top: 4px solid rgb(221,221,221);
  border-left: 4px solid rgb(221,221,221);
  border-bottom: 4px solid rgb(137,137,137);
  border-right: 4px solid rgb(137,137,137);
  background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
}
.link-auth {
  text-shadow: none;
  text-decoration: none;
  vertical-align: top;
  font-size:24px;
}

.link-auth:hover {
  color: white;
  text-shadow: 0 0 1px black, 0 0px 3px orange;
}

.link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.link:hover {
  color: white;
}


#buttonsContainer {
    background: #cccccc;
    position: relative;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-top: 4px solid rgb(221,221,221);
    border-left: 4px solid rgb(221,221,221);
    border-bottom: 4px solid rgb(137,137,137);
    border-right: 4px solid rgb(137,137,137);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 812px;
    position: relative;
}

#buttonsContainer::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -15px;
  left: -15px;
  right: -10px;
  bottom: -15px;
  border: 1px solid rgba(0,0,0,0);
}

.red-outline {
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8), 0 1px 6px 3px red !important;
}

.drop-down {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  outline: none;
  background: #eee;
  color: #222;
  font-family: Prototype;
  width: 100%;
  height: 54px;
  font-size: 20px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  margin-top: 2px;
  padding-left: 8px;
  transition: font-size 0.3s, box-shadow 0.3s;
}

.corporation-score {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: #eee;
  outline: none;
  font-family: Prototype;
  text-align: center;
  width: 86px;
  height: 50px;
  padding: 0px;
  font-size: 26px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  margin-top: 2px;
}

input::placeholder {
  color: #222;
}

.drop-down:disabled {
  opacity: 0.3;
  box-shadow: none;
}
.corporation-score:disabled {
  opacity: 0.3;
  box-shadow: none;
}

.btn-players:hover, .drop-down:hover, .btn-generations:hover, .corporation-score:hover, .btn-gametype:hover, .btn-map:hover, .btn-awards:hover, .btn-colonies:hover {
  filter: drop-shadow(0 0 5px white);
}


.btn-players {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    background: #eee;
    color: #222;
    height: 50px;
    line-height: 50px;
    width: 57px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    margin-right: -2px;
    margin-bottom: 2px;
    transition: box-shadow 0.3s;
}

.btn-gametype {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: #222;
    text-align: center;
    cursor: pointer;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    background: #eee;
    margin-right: -2px;
    margin-bottom: -2px;
    transition: box-shadow 0.3s;
}

.btn-draft {
  height: 50px;
  line-height: 50px;
  width: 39px;
  transition: box-shadow 0.3s;
  font-size: 24px;
  font-weight: bold;
}

.btn-expansions {
  width: 44px;
  height: 50px;
  line-height: 50px;
}

.btn-map {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: black;
    height: 35px;
    line-height: 35px;
    width: 116px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    background: #eee;
    color: #222;
    margin-right: -2px;
    transition: box-shadow 0.3s, width 0.3s;
}

.btn-map-resized {
  width: 77px;
}

.btn-awards {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    height: 37px;
    line-height: 37px;
    width: 166px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    background: #eee;
    color: #222;
    margin-bottom: 2px;
    transition: box-shadow 0.3s, width 0.3s;
}

.btn-awards-resized {
  width: 108px;
}

.btn-colonies {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    height: 19px;
    line-height: 19px;
    width: 86px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    background: #eee;
    color: #222;
    margin-bottom: 2px;
    transition: box-shadow 0.3s;
}

.btn-generations {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: #222;
    height: 54px;
    line-height: 50px;
    margin-bottom: 2px;
    width: 90px;
    text-align: center;
    cursor: pointer;
    font-size: 30px !important;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
    background: #eee;
    padding-left: 32px;
    transition: box-shadow 0.3s;
}

#confirm {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: Prototype;
  height: 60px;
  border-radius: 1px;
  font-size: 20px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  color: #222;
  background: #eee;
  letter-spacing: 1px;
  margin-top: 15px;
  width: 336px;
  margin-left: 2px;
}

.btn-submit {
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  font-family: Prototype;
  height: 60px;
  border-radius: 1px;
  font-size: 20px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 1px 3px 1px rgba(0,0,0,.8);
  width: 805px;
  margin-top: 20px;
  margin-left: 3px;
  margin-bottom: 10px;
  color: #222;
  background: #eee;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

.btn-submit:disabled {
  box-shadow: none;
  opacity: 0.6;
}


.checkbox {
  display: none !important;
}

.checkbox:checked + label, input[type=radio]:checked + label {
    border: 2px solid rgb(221,221,221);
    border-top: 2px solid rgb(137,137,137);
    border-left: 2px solid rgb(137,137,137);
    background: #444;
    color: white;
    text-shadow: 0 3px 1px black;
    box-shadow: inset 0 1px 3px 1px black;
}

.awards {
  display:none;
  line-height: 13px;
  margin-left: -8px;
  width: 170px;
  height: 223px;
}

.awards-resized {
  width: 112px;
}

.awards-venus {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.change-colours {
  background: #444;
  color: white;
  text-shadow: 0 3px 1px black;
  box-shadow: inset 0 1px 3px 1px black;
  border: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
}

.fieldset-alignment {
  margin-bottom: -4px;
  margin-left: 2px;
  vertical-align: top;
  transition:  0.3s;
}

.fieldset2 {
  font-family: Prototype;
  border-radius: 2px;
  text-align: center;
  font-weight: normal;
  line-height: 10px;
  font-size: 12px;
  margin-bottom: 2px;
  color: #222;
  text-shadow: none;
}

.fieldset-alignment2 {
  display: inline-block;
  margin-top: -4px;
  color: #eee;
  text-shadow: 0 0 1px black, 0 2px 1px black;
  margin-bottom: 10px;
  height:35px;
  vertical-align: top;
  text-align: center;
  border-bottom: none;
  margin-top: -14px;
  padding-top: 3px;
  line-height: 22px;
  padding-bottom: 12px;
  font-size: 15px;
  width: 309px;
}

.fieldset-colonies {
  width: 90px;
  height: 286px;
  display: inline-block;
  padding-bottom: 12px;
  margin-left: -4px;
  margin-top: -65px;
  position: absolute;
}

.fieldset-maps-resized {
  width:250px !important;
}

.fieldset-awards-resized {
  width:112px !important;
}

.highlight {
  filter: drop-shadow(0 0 3px red);
}


.column {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 10px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modalContent {
  margin-top: -5px;
  text-align: center;

}

.modal-window {
    transform: scale(0);
    transition: 0.3s;
    background: #cccccc;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    font-family: Prototype;
    line-height: 28px;
    margin-top: -86px;
    padding: 30px;
    border: 1px solid #888;
    width: 340px;
    height: 445px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 3px;
    font-size: 14px;
    color: #eee;
    text-shadow: 0 0 1px black, 0 2px 1px black;
    box-shadow: 0 0 20px 5px black;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.close {
  position: absolute;
  margin-left: 343px;
  margin-top: -33px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}

.alert {
  opacity: 0;
  display: none;
  text-align: center;
  background: #444;
  text-shadow: 0 0 1px black, 0 2px 2px black;
  margin-top: 20px;
  font-family: Prototype;
  font-size: 22px;
  height: 58px;
  line-height: 58px;
  color: #ccc;
  margin-bottom: 10px;
  border-right: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  transition: 0.3s ease-in-out;
  background-image: url("../images/boy.png");
  background-repeat: no-repeat;
  background-size: 90px 54px;
  filter: grayscale(100%);
  background-position: 90% 60px;
}

.box {
  position: relative;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 12px;
  color: #FFF;
  font-family: Prototype;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #cc3333;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 14px;
  left: -26px;
  letter-spacing: 2px;
  text-shadow: 0 0 1px black;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #808080;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #808080;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #808080;
}

/*History classes */
.generalStats-history {
    display: grid;
    grid-template-columns: 222px 222px;
    position: relative;
    font-family: Prototype;
    background: #ccc;
    color: #222;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    width: 444px;
    position: relative;
    text-align: center;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
}

.grid-cell-history {
  position: relative;
  display: grid;
  grid-template-columns: 182px 36px;;
  text-align: center;
  color: #222;
  font-size: 15px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.title-cell {
  width: 440px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  text-shadow: 0 0 1px black, 0 2px 2px black;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.highlight-winner {
  background-color: rgba(0,0,0,0.2);
}

.layout {
  width: 1500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.button:hover {
  background: #ccc;
}

.icon:after {
        position: absolute;
        font-size: 11px;
        line-height: 15px;
        width: 16px;
        height:16px;
        text-align: center;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #eee, 0 0 0 2px #888;
        content: "";
        background-size: 10px 10px !important;
        background-position: bottom 4px right 3px !important;
        background-repeat: no-repeat !important;
  }

  .icon-align {
    margin-top: 17px;
    margin-left: -17px;
  }

  .icon-align2 {
    margin-top:-13px;
  }
  .corporate-era-icon:after {
    background-color: #cc3333;
    background-image: url("../images/triangle16.png");
  }

  .venus-icon:after {
    background: rgb(84,150,201);
    background-image: url("../images/triangle16.png");
    transform: rotate(180deg);
  }

  .prelude-icon:after {
    background: rgb(235,118,171);
    background-image: url("../images/triangle16.png");
    transform: rotate(-90deg);
  }

  .colonies-icon:after {
    background-color: #444;
    background-image: url("../images/triangle16.png");
  }

  .turmoil-icon:after {
    background: darkorange;
    background-image: url("../images/triangle16.png");
    transform: rotate(180deg);
  }
