/* fonts */
@font-face {
  font-family: Prototype;
  src: url(../fonts/Prototype.ttf);
}

.app {
  margin-left: auto;
  margin-right: auto;
  font-family: Prototype;
  position: relative;
  width: 1660px;
}

.app::after {
  content: "";
    background: url("../images/mars.png") no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: 1710px;
    border-radius: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.events-board {
  display: inline-block;
  width: 665px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}

.global-event {
  display: inline-block;
  width: 205px;
  background: linear-gradient(lightyellow, lightblue, lightblue);
  height: 260px;
  padding: 5px;
  border: 1px solid #444;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
}

.global-event-current {
  filter: brightness(110%);
}

.event-title {
  height: 60px;
  line-height: 60px;
}
.event-parties {
  margin-bottom: 10px;
}

.event-party {
  display: inline-block;
  width: 100px;
  background-color: rgba(0,0,0,.2);
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.turmoil-board {
  display: inline-block;
  vertical-align: bottom;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
}



.grid-parties {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap:10px;
}

.party {
  width: 150px;
  height: 160px;
  border-radius: 0 0 10px 10px;
  background: white;
}

.grid-delegates {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap:5px;
}

.delegate-spot {
  width: 40px;
  height:40px;
  background: linear-gradient(transparent, rgba(0,0,0,.1));
}

.party-name {
  height: 20px;
  line-height: 20px;
}

.grid-leaders {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap:10px;
}

.party-bonus {
  line-height: 30px;
}

.leader-spot {
  width: 40px;
  padding: 7px 55px 0 55px;
  height:45px;
  background: linear-gradient(transparent, rgba(0,0,0,.2));
  z-index: 2;
}

.turmoil-header {
  display: flex;
  border-bottom: 5px solid rgba(0,0,0,.3);
}

.grid-lobby {
  display: grid;
  width: 320px;
  grid-template-columns: auto auto auto auto auto;
}

.lobby-spot {
  width: 44px;
    height: 30px;
    padding: 5px;
    background: linear-gradient(rgba(0,0,0,.5), transparent);
    border-radius: 10px 10px 0 0;
}
.chairman-spot {
  width: 60px;
    height: 35px;
    padding: 10px;
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.3));
    border-radius: 20px 20px 0 0;
}

.label-lobby {
  color:rgba(0,0,0,.5);
  text-align: left;
  width:115px;
}
.label-5mc {
  color:rgba(0,0,0,.5);
  text-align: right;
  width: 110px;
  margin-right: 5px;
}

.player-token {
  width: 36px;
  height: 36px;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  text-align: center;
  font-size: 30px;
  color: white;
  text-shadow: 0 0  2px black;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.player-token-new-leader {
  box-shadow:0 2px 5px 5px #fff;
}

.red {background-color: red}
.green {background-color: green}
.blue {background-color: blue}
.yellow {background-color: rgba(255, 255, 0, 0.726)}
.black {background-color: #444}
.neutral {background-color: #ccc;}
