.history-section-corporation {
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 18px;
  line-height: 18px;
}

.history-section-corporation2 {
  display: inline-block;
}


.history-section-score {
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 18px;
  line-height: 18px;
}

.history-section-score2 {
  display: inline-block;
}

.history-section-header {
  position: relative;
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 32px;
  line-height: 32px;
  color: #eee;
  text-shadow: 0 0 1px black;
  text-align: left;
}

.history-section-time2 {
  position: relative;
  display: inline-block;
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(137,137,137);
}

.history-section-time {
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 1px black, 0 1px 1px black;
}

.history-section-time-value2 {
  display: inline-block;
}

.history-section-expansions {
  display: inline-block;
  text-align: left;
  margin-left: -4px;
  border-left: 1px solid rgb(221,221,221);
  width: 80px;
}

.history-section-expansions2 {
  display: inline-block;
  text-align: left;
}


.history-section-expansion-ribbon {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}
.history-section-map {
  display: inline-block;
  margin-left: -4px;
  width: 66px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  color:#222;
  text-shadow: none;
}

.history-section-map-value {
  border-radius: 10px;
  width: 66px;
}

.history-section-generation {
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 32px;
  line-height: 32px;
}

.history-section-generation-value {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  width: 22px;
  height: 20px;
  line-height: 20px;
  background: #eee;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
}

.history-section-submitted {
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 18px;
  line-height: 18px;
  padding-left: 5px;
  text-align: center;
  color: rgb(251,192,137);
  text-shadow: 0 0 1px black, 0 1px 1px black;
}

.dark-background {
  background: #444;
}

.clock {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-left: -24px;
}

.flag-div {
  display: inline-block;
  border-right: 1px solid rgb(137,137,137);
  width: 32px;
}

.flag-div2 {
  display: inline-block;
  width: 32px;
}

.flag {
  margin-top: -20px;
  height: 32px;
  width: 32px;
  vertical-align: bottom;
}

.grid-cell-history2 {
  display: grid;
  grid-template-columns: 36px 90px 100px 194px 40px;
  text-align: center;
  color: #222;
  font-size: 15px;
  border-radius: 1px;
}
.grid-cell-history2 > div {
  height: 32px;
  line-height: 32px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
 }

.failed-number {
  color: #cc3333;
  font-size: 20px;
}
