.history-section-corporation {
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 25px;
  line-height: 25px;
}

.history-section-corporation2 {
  display: inline-block;
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(137,137,137);
}


.history-section-score {
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 25px;
  line-height: 25px;
}

.history-section-score2 {
  display: inline-block;
  border-left: 1px solid rgb(221,221,221);
}

.history-section-time {
  position: relative;
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 32px;
  line-height: 32px;
  color: #eee;
  text-shadow: 0 0 1px black;
  text-align: left;
}

.history-section-time2 {
  position: relative;
  display: inline-block;
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(137,137,137);
}

.history-section-time-value {
  display: inline-block;
  width: 60px;
  margin-left: -4px;
  text-align: center;
}

.history-section-time-value2 {
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(137,137,137);
  display: inline-block;
}

.history-section-expansions {
  display: inline-block;
  text-align: left;
  margin-left: -4px;
  border-left: 1px solid rgb(221,221,221);
  width: 80px;
}

.history-section-expansions2 {
  display: inline-block;
  text-align: left;
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(137,137,137);
}


.history-section-expansion-ribbon {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
}

.history-section-generation {
  display: inline-block;
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-bottom: 1px solid rgb(137,137,137);
  border-right: 1px solid rgb(137,137,137);
  height: 32px;
  line-height: 32px;
}

.history-section-generation-value {
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  width: 22px;
  height: 20px;
  line-height: 20px;
  background: #eee;
  border: 1px solid rgba(0,0,0,.4);
  border-radius: 5px;
}

.dark-background {
  background: #444;
}

.clock {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-left: -24px;
}

.flag-div {
  display: inline-block;
  border-right: 1px solid rgb(137,137,137);
  width: 32px;
}

.flag {
  margin-top: -20px;
  height: 32px;
  width: 32px;
  vertical-align: bottom;
}

.grid-cell-history2 {
  display: grid;
  grid-template-columns: 33px 90px 100px 193px 40px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #222;
  font-size: 15px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
}

.failed-number {
  padding: 1px 7px 1px 7px;
  border-radius: 1px;
  border: 2px solid #cc3333;
}
