
@media screen and (max-width: 480px) {
    #buttonsContainer {
        width: 400px !important;
    }
    #form {
      display: grid;
      grid-template-columns: 412px !important;
    }
    #title2 {
      line-height: 28px !important;
    }
    .btn-submit {
      width: 393px !important;
    }

}

@font-face {
    font-family: Prototype;
    src: url(fonts/Prototype.ttf);
}

#form {
  display: grid;
  grid-template-columns: 412px 412px;
}

#title {
  display: inline-block;
  font-family: Prototype;
  height: 60px;
  line-height: 22px;
  text-align: center;
  border-radius: 1px;
  font-size: 16px;
  border-bottom: 2px solid rgb(221,221,221);
  border-right: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  margin-left: 2px;
  width: 258px;
  margin-bottom: 15px;
  color: #eee;
  text-shadow: 0 0 1px black, 0 2px 1px black;
  margin-right: 5px;
}

#title2 {
  display: inline-block;
  font-family: Prototype;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 1px;
  font-size: 24px;
  border-bottom: 2px solid rgb(221,221,221);
  border-right: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  margin-left: 2px;
  width: calc(100% - 280px);
  margin-bottom: 20px;
  color: #eee;
  text-shadow: 0 0 1px black, 0 2px 1px black;
  vertical-align: top;
}

#title2::before {
  content: "MY GAMES";
  transform: scale(2,1);
}


#buttonsContainer {
    background: #cccccc;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    padding-bottom: 10px;
    width: 812px;
    margin-top: 20px;
}

.drop-down {
  cursor: pointer;
  outline: none;
  background: #eee;
  font-family: Prototype;
  width: 250px;
  height: 42px;
  font-size: 18px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
  margin-top: 2px;
  transition:opacity 0.3s;
  padding-left: 3px;
}

.corporation-points {
  cursor: pointer;
  background: #eee;
  outline: none;
  font-family: Prototype;
  text-align: center;
  width: 86px;
  height: 36px;
  font-size: 18px;
  border-radius: 1px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
  transition: 0.3s;
  margin-top: 2px;
}

.drop-down:disabled {
  opacity: 0.3;
  box-shadow: none;
}
.corporation-points:disabled {
  opacity: 0.3;
  box-shadow: none;
}


.btn-players {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    background: #eee;
    height: 30px;
    line-height: 30px;
    width: 118px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
    margin-left: -2px;
    margin-bottom: 2px;
}

.btn-gametype {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: black;
    height: 30px;
    line-height: 30px;
    width: 118px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
    background: #eee;
    margin-left: -2px;
    margin-bottom: 2px;
}

.btn-map {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: black;
    height: 67px;
    line-height: 67px;
    width: 86px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
    background: #eee;
    margin-top: 2px;
}

.btn-awards {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    height: 37px;
    line-height: 37px;
    width: 108px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
    background: #eee;
    margin-bottom: 2px;
    transition: 0.3s;
}

.btn-generations {
    display: inline-block;
    font-family: Prototype;
    outline: none;
    color: rgb(48,48,48);
    height: 70px;
    line-height: 70px;
    margin-bottom: 2px;
    width: 90px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 1px;
    border-top: 2px solid rgb(221,221,221);
    border-left: 2px solid rgb(221,221,221);
    border-bottom: 2px solid rgb(137,137,137);
    border-right: 2px solid rgb(137,137,137);
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
    background: #eee;
    padding-left:30px;
}

.btn-submit {
  font-family: Prototype;
  height: 40px;
  border-radius: 1px;
  font-size: 20px;
  border-top: 2px solid rgb(221,221,221);
  border-left: 2px solid rgb(221,221,221);
  border-bottom: 2px solid rgb(137,137,137);
  border-right: 2px solid rgb(137,137,137);
  box-shadow: 0 0px 1px 1px rgba(0,0,0,.8);
  width: 801px;
  margin-left: 2px;
  color: black;
  letter-spacing: 1px;

}

.btn-submit:disabled {
  box-shadow: none;
  opacity: 0.3;
  border: 1px solid black;
}

.fieldset2 {
  font-family: Prototype;
  color: black;
  border-radius: 2px;
  text-align: center;
  font-weight: normal;
  line-height: 10px;
  font-size: 12px;
  margin-bottom: 2px;
  transition: 0.3s;
}

.checkbox{
  display: none;
}

.checkbox:checked + label, input[type=radio]:checked + label {
    border: 2px solid rgb(221,221,221);
    border-top: 2px solid rgb(137,137,137);
    border-left: 2px solid rgb(137,137,137);    box-shadow: none;
    background: #444;
    color: white;
}

.awards {
  display:none;
  line-height: 13px;
  margin-left: -8px;
  height: 228px;
}

.awards-venus {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.change-colours {
  background: #444;
  color: white;
  box-shadow: none;
  border: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
}

.fieldset-alignment {
  margin-bottom: 10px;
  vertical-align: top;
}

.column {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
