.filterDiv {
    float: left;
    position: relative;
    background: #eeeeee;
    background: linear-gradient(to bottom right, #ffffff, #aaaaaa, #eeeeee, #cecece, #dddddd, #eeeeee, #cccccc);
    width: 240px;
    height: 310px;
    display: none;
    font-family:  Arial,Helvetica,sans-serif;
    margin: 15px;
    border-style: outset;
    border-radius: 20px;
}

.filterDiv-stacked {
  transform:  perspective(3500px) rotateY(45deg);
  box-shadow: -10px 0px 20px 0px black;
  margin-right: -130px;

}

.filterDiv-stacked:hover {
  transform: translate(0,-10px);
  box-shadow: 0 0 30px 15px black;
  transition: 0.2s;
  z-index: 99;
}

.preludeCards {
  height: 240px;
}

.colonyCards {
  height: 240px;
  width: 375px;
}

.price {
    float: left;
    font-family: Arial Narrow, Helvetica, sans-serif;
    font-size: 26px;
    border-style: outset;
    background: rgb(255,228,4);
    background: linear-gradient(rgb(255,208,4),rgb(255,255,104),rgb(255,208,4),rgb(255,208,4));
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 10px;
    text-align: center;
    margin-top: -76px;
    margin-left: -7px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.number {
    float: left;
    width: 36px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: -64px;
    margin-left: 50px;
    font-size: 11px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
    background: #cccccc;
    border-radius: 2px;
    border-style: outset;
}

.prelude-label {
    float: left;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    margin-top: -64px;
    margin-left: 5px;
    font-size: 11px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
    background-color: rgb(235,118,171);
    border-radius: 15px;
    border-style: outset;
}




.standard-icon:after {
  content: "\00a0";
  position: absolute;
  border: 1px solid black;
  line-height: 16px;
  width: 16px;
  height:16px;
  text-align: center;
  color: white;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
}

.corporate-icon:after {
        position: absolute;
        border: 1px solid black;
        background-color: #cc3333;
        font-size: 10px;
        line-height: 16px;
        width: 16px;
        height:16px;
        text-align: center;
        color: white;
        border-radius: 50%;
        text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
        content: "\25b2";
  }
  .prelude-icon:after {
          position: absolute;
          border: 1px solid black;
          background-color: rgb(235,118,171);;
          font-size: 10px;
          font-weight: bold;
          line-height: 18px;
          width: 16px;
          height:16px;
          text-align: center;
          color: white;
          border-radius: 50%;
          text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
          box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
          content: "\25c0\00a0";
    }
    .venus-icon:after {
            position: absolute;
            border: 1px solid black;
            background: rgb(84,150,201);
            font-weight: bold;
            font-size: 10px;
            line-height: 18px;
            width: 16px;
            height:16px;
            text-align: center;
            color: white;
            border-radius: 50%;
            text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
            content: "\25bc";
      }

      .promo-icon:after {
              position: absolute;
              border: 1px solid black;
              background: #444444;
              font-weight: bold;
              font-size: 24px;
              line-height: 18px;
              width: 16px;
              height:16px;
              text-align: center;
              color: white;
              border-radius: 50%;
              text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
              box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
              content: "\2022";
        }

        .colonies-icon:after {
                position: absolute;
                color:#444444;
                border: 1px solid black;
                font-weight: bold;
                font-size: 16px;
                line-height: 14px;
                width: 16px;
                height:16px;
                text-align: center;
                border-radius: 50%;
                text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
                box-shadow: 0 0 0 1px rgba(0,0,0,0.4);
                content: "\25b2";
          }

.project-icon:after {
  margin-left: -232px;
  margin-top: 284px;
}

.prelude-icon:after {
  margin-left: -232px;
  margin-top: 214px;
}

.corporation-icon:after {
      margin-top: 47px;
      margin-left: 214px;
}

.button-icon:after {
      margin-top: -9px;
      margin-left: -9px;
}

.tag {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: outset;
    background-color: white;
    margin-top: -6px;
}

.tag1 {
    margin-left: 200px;
}

.tag2 {
    margin-left: 150px;
}

.tag3 {
    margin-left: 100px;
}


.title {
    text-transform: uppercase;
    float: left;
    margin-top: 36px;
    margin-left: -1px;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.show {
    display: block;
}

.container {
    margin-top: 20px;
    overflow: hidden;
}
/*********** Background colors************/
.background-color-corporation { background-color: rgb(255,204,100);}

.background-color-automated { background: #09aa09;}

.background-color-active { background: #3b9ae3;}

.background-color-events {background:#ee792b;}

.background-color-prelude { background-color: rgb(235,118,171);}

.background-color-colony { background-color: rgb(158,145,128);}

/*********** Style the tags ************/
.tag-building {
    background-color: rgb(128,87,0);
}

    .tag-building:after {
       border-radius: 50%;
        color: rgb(73,54,40);
        content: "\2617";
        line-height: 35px;
        vertical-align: top;
        font-size: 20px;
        display: inline-block;
        -webkit-transform: scale(2.7,1); /* Safari and Chrome */
        -moz-transform: scale(2.7,1); /* Firefox */
        -ms-transform: scale(2.7,1); /* IE 9 */
        -o-transform: scale(2.7,1); /* Opera */
        transform: scale(2.7,1); /* W3C */
    }

    .building-resource {
        background-color: rgb(128,87,0);
        border-radius: 50%;
    }
        .building-resource:after {
            vertical-align: top;
            color: rgb(73,54,40);
            content: "\2617";
            font-size: 13px;
            line-height: 24px;
            display: inline-block;
            -webkit-transform: scale(2.7,1); /* Safari and Chrome */
            -moz-transform: scale(2.7,1); /* Firefox */
            -ms-transform: scale(2.7,1); /* IE 9 */
            -o-transform: scale(2.7,1); /* Opera */
            transform: scale(2.7,1); /* W3C */
        }

.tag-space {
    background-color: black;
}

    .tag-space:after {
        color: yellow;
        content: "\2734";
        font-size: 30px;
        line-height: 40px;
    }

.tag-power {
    background-color: rgb(174,0,255);
}

    .tag-power:after {
        content: "\26A1\FE0E";
        font-size: 26px;
        line-height: 38px;
        color: white;
        font-weight: bold;
    }

.tag-jovian {
    background-color: rgb(235,200,148);
    background: linear-gradient(rgb(235,200,148),beige,rgb(235,200,148),beige,rosybrown,rgb(235,200,148),rgb(235,200,148),beige,beige,beige,rgb(235,200,148),beige,rosybrown,rgb(235,200,148),beige,rgb(235,200,148),rgb(235,200,148), beige,rgb(235,200,148),beige);
}



.tag-venus {
    background: rgb(84,150,201);
}

    .tag-venus:after {
        content: "V";
        color: white;
        font-weight: bold;
        font-size: 26px;
        line-height:42px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

.tag-earth {
    background:rgb(15,96,151);
    color: white;
    font-size: 32px;
    line-height: 43px;
}

    .tag-earth:after {
        content: "\1f30f\FE0E";
    }

.tag-city {
    background-color: rgb(190,190,190);
    color: rgb(50,50,50);
    font-size: 18px;
    text-align: center;
}

    .tag-city:after {
        line-height: 30px;
        content: "\1f3d9\FE0E";
        vertical-align: top;
        display: inline-block;
        -webkit-transform: scale(1.6,1); /* Safari and Chrome */
        -moz-transform: scale(1.6,1); /* Firefox */
        -ms-transform: scale(1.6,1); /* IE 9 */
        -o-transform: scale(1.6,1); /* Opera */
        transform: scale(1.6,1); /* W3C */
    }

.tag-microbe {
    background-color: #bce444;
    color: rgb(63,112,58);
    line-height: 36px;
}

    .tag-microbe:after {
        content: "\2042";
        font-size: 32px;
    }

.tag-plant {
    background-color: #6cba50;
    background: #09aa09;
    color: rgb(63,112,58);
}

    .tag-plant:after {
        content: "\1F331\FE0E";
        font-size: 26px;
        line-height: 40px;
    }


.tag-animal {
    background-color: rgb(63,112,58);
    background: #266020;
    color: darkseagreen;
}

    .tag-animal:after {
        content: "\1F43e\FE0E";
        font-size: 26px;
        line-height: 40px;
    }

.tag-event {
    background-color: rgb(255,230,35);
}

    .tag-event:after {
        content: "\2B07\FE0E";
        font-size: 30px;
        vertical-align: bottom;
        display: inline-block;
        -webkit-transform: scale(2,1); /* Safari and Chrome */
        -moz-transform: scale(2,1); /* Firefox */
        -ms-transform: scale(2,1); /* IE 9 */
        -o-transform: scale(2,1); /* Opera */
        transform: scale(2,1); /* W3C */
    }


.tag-science {
    background: white;
}


    .tag-science:after {
        content: "\269b";
        font-size: 38px;
        line-height: 40px;
    }


/************** Style the buttons ************/
.btn1 {
    outline: none;
    height: 40px;
    width: 123px;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    border-radius: 8px;
    margin-right: 12px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.btn2 {
    outline: none;
    height: 55px;
    width: 55px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    margin-right: 10px;
}

.btn3 {
    outline: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 10px;
    color:white;
    font-size: 16px;
    line-height: 30px;
    vertical-align: middle;
    letter-spacing: 1px;
    text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
}

.btn4 {
    outline: none;
    height: 40px;
    width: 123px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    font-size:16px;
    font-weight: bold;
    letter-spacing: 1px;
    color:white;
    font-family: Arial,Verdana;
    background-color: #cc3333;
    vertical-align: middle;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    box-shadow: 0 0 10px 3px rgb(58,58,58);
    margin-bottom: 5px;
}

.btn-content {
    outline: none;
    color: rgb(48,48,48);
    font-weight: bold;
    height: 40px;
    width: 123px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 28px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.btn-req {
    outline: none;
    background-color: rgb(255,204,100);
    background: linear-gradient(to right, #e28c22, rgb(255,204,100),rgb(255,204,100), #e28c22);
    height: 40px;
    border-radius: 8px;
    width: 140px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    margin-right: 29px;
    margin-bottom: 20px;
}

.btn-vp {
    outline: none;
    background-color: rgb(255,204,100);
    background: linear-gradient(#cc8b00, rgb(128, 87, 0),rgb(128, 87, 0));
    height: 40px;
    width: 80px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    text-shadow: 0 0 5px darkorange;
    vertical-align: bottom;
}

.btn-price {
    outline: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 26px;
    vertical-align: bottom;
}

.footer-button {
    outline: none;
    display: inline-block;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 12px;
    margin-top: 15px;
    box-shadow: 0 0 4px 1px rgb(58,58,58);
}

.button {
  box-shadow: 0 0 4px 1px rgb(58,58,58);
}

.button2 {
  box-shadow: 0 0 4px 1px rgb(58,58,58);
}

.button.active {
  border: 2px solid rgb(137,137,137);
  box-shadow: inset 0 0 0 3px rgb(68,68,68);
  filter: brightness(120%);
}

.button:hover {
    border: 2px solid rgb(137,137,137);
}

#contentFilters {
    display: none;
    width: 790px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 5px;
    font-family: Arial, Verdana;
    font-size: 18px;
    border-style: outset;
    box-shadow: 0 0 4px 1px rgb(58,58,58);
}

.subfilterReqs-disabled {
  filter: grayscale(100%);
  opacity: 0.2;
  }

#footer {
  display: none;
}


.footer-links {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: Arial, Verdana;
  background: #ddd;
  color: #444444;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  margin-top: -10px;
  width: 120px;
  margin-right: 14px;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

/************** Style the Content ************/
.content {
    position: relative;
    display: inline-block;
    width: 220px;
    padding: 10px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}

.contentCorporation {
    position: relative;
    display: inline-block;
    font-weight:bold;
    padding: 8px;
}

.requirements {
    background-color: rgb(255,204,100);
    background: linear-gradient(to right, #e28c22, rgb(255,204,100),rgb(255,204,100), #e28c22);
    border-style: outset;
    width: 60%;
    margin-left: 42px;
    margin-bottom: 10px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.requirements-max {
    background: linear-gradient(to right,#fa2525,#fb7272, #fb7272, #fa2525);
}

.points {
    position: absolute;
    margin-top: 177px;
    margin-left: 137px;
    width: 80px;
    height: 42px;
    line-height: 35px;
    font-size: 28px;
    text-align: center;
    border-radius: 12px;
    border-style: outset;
    background-color: rgb(205,162, 130);
    background: linear-gradient(#cc8b00, rgb(128, 87, 0),rgb(128, 87, 0));
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.points-big {
    line-height: 42px;
    font-size: 36px;
    text-shadow: 0 0 5px darkorange;
}


.description {
    font-size: 11px;
    line-height: 13px;
    font-weight:normal;
}

.production-box {
    font-size: 18px;
    width: 44px;
    display: inline-block;
    border-style: outset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
    background-color: rgb(128, 87, 0);
    background: linear-gradient(to bottom left,rgb(162,113,71),rgb(128, 87, 0), rgb(162,113,71), rgb(128, 87, 0), rgb(162,113,71), rgb(128, 87, 0), rgb(162,113,71), rgb(128, 87, 0), rgb(162,113,71), rgb(128, 87, 0), rgb(162,113,71), rgb(128, 87, 0), rgb(162,113,71), rgb(128, 87, 0), rgb(162,113,71));
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    margin-bottom: 10px;
}

.production-box-size1a {
    width: 66px;
}

.production-box-size2 {
    width: 80px;
}

.production-box-size2a {
    width: 100px;
}

.production-box-size3 {
    width: 115px;
}

.production-box-size3a {
    width: 130px;
}

.production-box-size4 {
    width: 150px;
}

.production {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 25px;
    line-height: 25px;
    margin: 3px;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.production-prefix {
    display: inline-block;
    position: relative;
    color: black;
    width: 23px;
    vertical-align: central;
    line-height: 10px;
    font-weight: normal;
    font-size: 12px;
}


.empty-production {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 25px;
    line-height: 25px;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 6px;
    text-align: center;
    background-color: rgb(128, 87, 0);
    border: 1px solid rgb(128, 87, 0);
}

.red-outline {
    border: 2px solid red;
}

/************** Tiles**************/
.tile {
    position: relative;
    display: inline-block;
    width: 40px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-style: outset;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 12px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.temperature-tile {
    background:linear-gradient(#ff4d4d,#ff4d4d,#2d56d2);
    font-size: 26px;
    line-height: 26px;
    font-weight: normal;
    padding-top: 7px;
    padding-bottom:11px;
    width: 30px;
    text-align: center;
}
    .temperature-tile:after {
        content: "\1f321\FE0E ";
    }

.forest-tile {
    background: linear-gradient(#0bda0b,#09aa09,#09aa09);
    color: darkgreen;
    line-height:24px;
    vertical-align:middle;
    font-size: 30px;
}

.forest-tile:after {
    content: "\1F333";
}

.ocean-tile {
    background: linear-gradient(#3b9ae3,#1970b3);
    padding-top: 14px;
    padding-bottom: 14px;
    color: rgb(46,87,143);
    font-size: 20px;
}
    .ocean-tile:after {
        content: "\1f4a7\FE0E";
    }

.ocean-resource {
    background: linear-gradient(#3b9ae3,#1970b3);
    color: rgb(46,87,143);
    padding: 2px;
}
    .ocean-resource:after {
        content: "\1f4a7\FE0E";
    }

.city-tile {
    background-color: rgb(190,190,190);
    color: rgb(50,50,50);
    font-weight: normal;
}
    .city-tile:before {
        content: "\1f3d9\FE0E";
        font-size: 26px;
        display: inline-block;
        -webkit-transform: scale(1.6,1); /* Safari and Chrome */
        -moz-transform: scale(1.6,1); /* Firefox */
        -ms-transform: scale(1.6,1); /* IE 9 */
        -o-transform: scale(1.6,1); /* Opera */
        transform: scale(1.6,1); /* W3C */
    }

    .city-tile-small {
        background-color: rgb(190,190,190);
        color: rgb(50,50,50);
        font-weight: normal;
        vertical-align: middle;
        width:20px;
        padding:5px;
        padding-top: 3px;
    }
        .city-tile-small:before {
            content: "\1f3d9\FE0E";
            font-size: 16px;
            display: inline-block;
            -webkit-transform: scale(1.6,1); /* Safari and Chrome */
            -moz-transform: scale(1.6,1); /* Firefox */
            -ms-transform: scale(1.6,1); /* IE 9 */
            -o-transform: scale(1.6,1); /* Opera */
            transform: scale(1.6,1); /* W3C */
        }


.special-tile {
    background:linear-gradient(#c5936d,#a46c41);
    color: rgb(73,54,40);
    padding-top:15px;
    padding-bottom: 15px;
    width: 40px;
    font-size: 30px;
    font-weight: bold;
    color:
}

.oxygen-tile {
    background-color: rgb(246,241,175);
    color: red;
    font-size: 24px;
    width: 30px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.4), 0 0 0 2px rgba(0,0,0,0.2);
}

    .oxygen-tile:after {
        content: "O\00B2";
    }


.venus-tile {
  background-color: rgb(255,204,100);
  background: linear-gradient(to right, #b36b00,#e28c22,rgb(255,204,100),yellow,yellow,#cccc33, #80cc33,#598f24);
  color:white;
  padding:3px;
  padding-top:4px;
  line-height: 24px;
  font-size:30px;
  vertical-align: middle;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.capitol {
    background: white;
    margin-left: 20px;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}



/**************Resources***********/
.resource {
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px;
    min-width: 26px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.resource-tag {
    position: relative;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
      box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.money {
    background-color: rgb(255,228,4);
    background: linear-gradient(rgb(255,208,4),rgb(255,255,104),rgb(255,208,4),rgb(255,208,4));
    font-weight: bold;
    border-radius: 5px;
    padding: 1px;

}

.steel {
    background: linear-gradient(rgb(162,113,71),#593e27);
    color: rgb(73,54,40);
}

    .steel:after {
        content: "\2692";
        font-size: 20px;
    }

.titanium {
    background: linear-gradient(#555555,black);
    color: yellow;
}
    .titanium:after {
        content: "\2606\FE0E";
        font-weight: normal;
        font-size: 20px;
    }

.plant {
    background: linear-gradient(#0bda0b,#09aa09);
    color: rgb(63,112,58);
    font-weight: normal;
}

    .plant:before {
        content: "\1F331\FE0E";
        font-size: 18px;
    }

.energy {
    background: linear-gradient(#cf66ff,rgb(174,0,255));
    color: white;
    font-weight: bold;
    font-size: 18px;
}

    .energy:after {
        content: "\26A1\FE0E";
    }



.heat {
    background:#f25540;
}

    .heat:after {
        font-weight: normal;
        content: "III";
        color: yellow;
    }


.microbe {
    background: linear-gradient(#bce444, #8cb319);
    color: rgb(63,112,58);
    font-weight: normal;
}

    .microbe:before {
        content: "\2042";
        font-size: 19px;
    }

.animal {
    background: linear-gradient(#36862d,#1f4d19);
    font-weight: normal;
    color: darkseagreen;
}

    .animal:before {
        content: "\1F43e\FE0E";
        font-size: 20px;
    }

.science {
    display: inline-block;
    background-color: white;
    font-size: 26px;
    font-weight: normal;
    vertical-align: middle;


}

    .science:after {
        content: "\269b";
        text-shadow: none;
    }

.card {
  position: relative;
    background-color: rgb(44,44,44);
    background: linear-gradient(to right, black, rgb(60,60,60), rgb(150,150,150), rgb(60,60,60), rgb(60,60,60),black);
    color: white;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 2px;
}
.card:after {
    content: "\1F30F\FE0E";
    font-size: 20px;
}

.card-icon {
  position: absolute;
  margin-left: 14px;
  margin-top: -14px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6);
}

.card-icon-venus {
  background: rgb(84,150,201);
  border-radius: 50%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size:14px;
  line-height: 22px;
}
.card-icon-microbe {
  background: linear-gradient(#bce444, #8cb319);
  color: rgb(63,112,58);
  border-radius: 50%;
  font-size:14px;
  line-height: 20px;
  font-weight: normal;
}

.card-icon-floater {
  background: rgb(255,204,100);
  color:white;
  font-size: 14px;
  border-radius: 2px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-icon-space {
  background: black;
  color:yellow;
  font-size: 12px;
  border-radius: 50%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-icon-building {
  background: linear-gradient(rgb(162,113,71),#593e27);
  color: rgb(73,54,40);
  font-size: 12px;
  border-radius: 50%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.floater{
    background: rgb(255,204,100);
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
.floater:after {
    content: "\2601";
  }


.card-corporation {
  background-color: rgb(44,44,44);
  background: linear-gradient(to right bottom, black, rgb(60,60,60), rgb(150,150,150), rgb(60,60,60), rgb(60,60,60),black);
  color: black;
  font-weight: bold;
  font-family: Arial, Verdana;
  font-size:10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 3px;
}

.space-resource {
    background-color: black;
    background: linear-gradient(rgb(100,100,100),black,black);
    color: yellow;
    font-weight: normal;
    font-size: 20px;
}
    .space-resource:after {
        content: "\2734";
    }


.event-resource {
    background-color: rgb(255,230,35);
    font-size: 18px;
}
    .event-resource:after {
        content: "\2B07\FE0E";
        vertical-align: bottom;
        display: inline-block;
        -webkit-transform: scale(2,1); /* Safari and Chrome */
        -moz-transform: scale(2,1); /* Firefox */
        -ms-transform: scale(2,1); /* IE 9 */
        -o-transform: scale(2,1); /* Opera */
        transform: scale(2,1); /* W3C */
    }

.jovian {
    background-color: rgb(235,200,148);
    background: linear-gradient(rgb(235,200,148),beige,rgb(235,200,148),beige,rosybrown,rgb(235,200,148),beige,beige,rgb(235,200,148),rosybrown,rgb(235,200,148),beige,rgb(235,200,148),rgb(235,200,148), rgb(235,200,148));
}
.jovian:after {
  content: "\00a0";
}

.earth-resource {
    background:rgb(15,96,151);
    color: white;
    font-size: 20px;
    }
    .earth-resource:after {
        content: "\1f30f\FE0E";
    }

    .venus-resource {
        background: rgb(84,150,201);
    }

        .venus-resource:after {
            content: "V";
            color: white;
            font-weight: bold;
            font-size: 18px;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }


.rating {
    background-color: rgb(240,100,00);
    background: linear-gradient(orange, orangered);
    font-size: 24px;
    padding-bottom: 8px;
    padding-left: 6px;
    vertical-align: middle;
}
    .rating:after {
        content: "\1F30F\FE0E";
    }

/************** Extras ************/
.red-arrow {
    display: inline-block;
    font-size: 16px;
    width:20px;
}

    .red-arrow:before {
        position: relative;
        color: red;
        content: "\27a1";
    }

/************** Style the Input field************/
#myInput {
    outline: none;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 445px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 2px 0px 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 15px;
    border-radius: 20px;
    border-style: outset;
    box-shadow: 0 0 4px 1px rgb(58,58,58);
}

#price {
    outline: none;
    background-repeat: no-repeat;
    text-align: center;
    width: 44px;
    height: 44px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 10px;
    border-style: outset;
    box-shadow: 0 0 4px 1px rgb(58,58,58);
    background: linear-gradient(rgb(255,208,4),rgb(255,255,104),rgb(255,208,4),rgb(255,208,4));
}

.myUL {
    list-style-type: none;
    width:85%;
    margin-top: 15px;
    margin-left: -25px;
}

.ul-title {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding-left: 5px;
  border-radius: 10px;
  background: linear-gradient(to right,#c19900, #bb511d88,#bb511d00);
  margin-left: 25px;
  width: 880px;
}


.totalCardsCount {
  display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    font-size: 30px;
    vertical-align: middle;
    font-weight: bold;
    text-shadow: 0 0 5px darkorange;
}

.corporationLabel {
    float: left;
    position:absolute;
    width: 115px;
    height: 14px;
    line-height: 15px;
    text-align: center;
    margin-top: -10px;
    margin-left: 24px;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
    background: #cccccc;
    background-color: rgb(255,204,100);
    background: linear-gradient(to right, #e28c22, rgb(255,204,100),rgb(255,204,100), #e28c22);
    border-radius: 2px;
}

.corporationEffectBox {
    position: absolute;
    border-style: outset;
    height: 135px;
    width: 212px;
    margin-top: 145px;
    padding: 3px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom right, #cccccc,#919191, #dddddd,#cccccc,#aaaaaa,#cacaca, #919191,#cccccc);
}

.corporationEffectBoxLabel {
    background-color: rgb(44,132,196);
    background: linear-gradient(#6eafde,rgb(44,132,196),rgb(44,132,196));
    margin-left: 55px;
    margin-bottom: 10px;
    width: 100px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    padding-top:2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
}

.corporation-venusNext-icon {
    display: inline-block;
    position: absolute;
    color: white;
    font-size:10px;
    margin-left: 217px;
    margin-top: 48px;
    padding-top:2px;
    padding-bottom:1px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgb(44,132,196);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6),0 0 0 2px rgba(0,0,0,0.3);
}

.corporation-prelude-icon {
    display: inline-block;
    position: absolute;
    color: white;
    font-size:10px;
    margin-left: 217px;
    margin-top: 48px;
    padding-top:2px;
    padding-bottom:1px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgb(235,118,171);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.6),0 0 0 2px rgba(0,0,0,0.3);
}

#buttonsContainer {
    background: #cccccc;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-style: outset;
    border-radius: 20px;
    margin-left: 40px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 17px;
    width: 845px;
    height: 330px;
    margin-top: 40px;
    transition: height 0.2s;
}

#titleContainer {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    border-style: inset;
    background: #eeeeee;
    border-radius: 10px;
    width: 398px;
    margin-right: 6px;
    margin-bottom: 5px;
    background: linear-gradient(to right, rgb(128, 87, 0), rgb(205,162, 130), rgb(205,162, 130), rgb(128, 87, 0));
    text-shadow: 0 0 5px darkorange;
    text-align: center;
}

.cardsContainer {
  vertical-align: top;
    text-align: right;
    display: inline-block;
    border-style: inset;
    border-radius: 10px;
    padding-top: 3px;
    height:57px;
    padding-right: 18px;
    background: linear-gradient(to right, rgb(128, 87, 0), rgb(205,162, 130), rgb(205,162, 130), rgb(128, 87, 0));
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    font-family: Arial,Verdana;
    line-height: 20px;
    margin-left:58px;
    margin-top:-52px;
    padding: 30px;
    border: 1px solid #888;
    width: 800px;
    transition-duration: 2s;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {}

.close:focus {
    color: #000;
    text-decoration: none;
}

/*Tooltips*/

.tooltip {
    position: relative;
    display: inline-block;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    text-shadow: none;
    text-align: center;
    border-radius: 6px;
    border:1px solid #555;
    padding: 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Input sliders classes */

input[type=range] {
  height: 13px;
  -webkit-appearance: none;
  margin-right: 40px;
  margin-top: 14px;
  width: 150px;
  box-shadow: 0 0 4px 1px rgb(58,58,58);
}

input[type=range] :disabled {
}


input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.5);
  border-style: outset;
  background: #3071A9;
  border-radius: 2px;

}

.track-temp-background::-webkit-slider-runnable-track {
  background: #f25540 !important;
}

.track-temp-thumb::-webkit-slider-thumb {
  background: url("thumb1.png") !important;
  height: 48px !important;
  margin-top: -18px !important;
}
.track-temp-thumb::-moz-range-thumb {
  background: url("thumb1.png") !important;
  height: 48px !important;
  margin-top: -18px !important;
}

.track-oxygen-thumb::-webkit-slider-thumb {
  background: url("thumb2.png") !important;
  width: 50px !important;

}
.track-oxygen-thumb::-moz-range-thumb {
  background: url("thumb2.png") !important;
  width: 50px !important;

}

.track-oceans-thumb::-webkit-slider-thumb {
  background: url("thumb3.png") !important;
  height: 48px !important;
  width: 52px !important;
  margin-top: -18px !important;
}
.track-oceans-thumb::-moz-range-thumb {
  background: url("thumb3.png") !important;
  height: 48px !important;
  width: 52px !important;
  margin-top: -18px !important;
}

.track-venus-thumb::-webkit-slider-thumb {
  background: url("thumb4.png") !important;
  width: 50px !important;
}
.track-venus-thumb::-moz-range-thumb {
  background: url("thumb4.png") !important;
  width: 50px !important;
}

.track-science-thumb::-webkit-slider-thumb {
  background: url("thumb5.png") !important;
  border-radius: 50% !important;
}
.track-science-thumb::-moz-range-thumb {
  background: url("thumb5.png") !important;
  border-radius: 50% !important;
}


.track-temp-background::-moz-range-track {
    background: #f25540 !important;
}

.track-oxygen-background::-webkit-slider-runnable-track {
  background-color: rgb(246,241,175) !important;
}

.track-oxygen-background::-moz-range-track {
  background-color: rgb(246,241,175) !important;
}

.track-venus-background::-webkit-slider-runnable-track {
  background-color: #8bb8da !important;
}

.track-venus-background::-moz-range-track {
  background-color: #8bb8da !important;
}

.track-science-background::-webkit-slider-runnable-track {
  background-color: white !important;
}

.track-science-background::-moz-range-track {
  background-color: white !important;
}


input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border-style: outset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.8), 0 0 0 2px rgba(0,0,0,0.4);
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.6), 0 0 0 2px rgba(0,0,0,0.3);
  background: #3071A9;
  border-radius: 5px;
  border-style: outset;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border-style: outset;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.8), 0 0 0 2px rgba(0,0,0,0.4);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 17px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border-style: outset;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}

.output-label {
  position: absolute;
  margin-top: 4px;
  margin-left: 160px;
  font-size: 30px;
  text-shadow: -1px 0 #444444, 0 1px #444444, 1px 0 #444444, 0 -1px #444444;
  color: #3071A9;
}

/*toggle button*/

.switch {
  display: inline-block;
  vertical-align: middle;
  font-family: Arial;
  position: relative;
  height: 30px;
  width: 123px;
  margin-left:6px;
  margin-right: 40px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  box-shadow:  inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 56px;
  line-height: 30px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {

}

.switch-label-off {
  padding-left: 3px;
}

.switch-label-on {
  padding-left: 3px;
}


.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  color:#444;

  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 61px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  display: block;
  width: 58px;
  height: 24px;
  border-radius: 20px;
  background-color: #bbb;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
