
.filterDiv2 {
    position: relative;
    float: left;
    width: 875px;
    height: 65px;
    font-family:  Arial,Helvetica,sans-serif;
    border-bottom: 1px solid #ccc;

}

.corps-list {
  margin-left: 40px;
  background: #ccc;
  background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
  width: 875px;
  height: 1115px;
  border-radius: 10px;
  border-style: outset;
}

.grid-container {
  font-family: Arial;
  position: absolute;
  display: inline-block;
  margin-left: 203px;
  margin-top: 12px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;

  grid-gap: 10px;
}
.grid-container > div {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 50px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;

}

.grid-container2 {
  position: absolute;
  font-family: Arial;
  display: inline-block;
  margin-left: 714px;
  margin-top: -235px;
  display: grid;
  grid-template-areas:
    'title1 wins'
    'title2 fails'
    'title3 winrate'
    'title4 average';
  grid-gap: 10px;
  grid-row-gap:13px;
}

.title1 { grid-area: title1; }
.title2 { grid-area: title2; }
.title3 { grid-area: title3; }
.title4 { grid-area: title4; }
.wins { grid-area: wins; }
.fails { grid-area: fails; }
.winrate { grid-area: winrate; }
.average { grid-area: average; }

.grid-container2 > div {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  width: 50px;
  height: 35px;
  color: rgb(68, 68, 68);
  background: #eee;
  line-height: 35px;
  border-radius: 5px;
  border-style: outset;
  box-shadow:0 0 0 1px rgba(0,0,0,0.4), 0 0 0 2px rgba(0,0,0,0.2);
}

#chart_div {
  background: #ccc;
  background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
  border-radius: 10px;
  margin-left: 40px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 17px;
  width: 855px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-style: outset;
}

.chart-title {
  position: absolute;
  margin-top: -225px;
  margin-left: 350px;
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  color: rgb(68, 68, 68);
}

.buttons-div {
  position: absolute;
  font-family: Arial;
  display: inline-block;
  margin-top: -235px;
  margin-left: 54px;
}

.button {
  outline: none;
  background-color: #f2f2f2;
  border-radius: 5px;
  border-style: outset;
  width:180px;
  height:41px;
  box-shadow:0 0 0 1px rgba(0,0,0,0.4), 0 0 0 2px rgba(0,0,0,0.2);
  color: rgb(68, 68, 68);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 13px;

}

.button:hover {
    border: 2px solid rgb(137,137,137);
}

.button:active {
  box-shadow:0 0 0 1px rgba(0,0,0,0.6);
}


.background-failed {
    background-color: #cc3333;
    border-style:outset !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color:white;
    box-shadow:0 0 0 1px rgba(0,0,0,0.4),0 0 0 2px rgba(0,0,0,0.2);

}

.background-gold {
  background-color: #cccc00;
  border-style:outset !important;
  box-shadow:0 0 0 1px rgba(0,0,0,0.4),0 0 0 2px rgba(0,0,0,0.2);

}

.background-silver {
  background-color: #eee;
  border-style: outset !important;
  box-shadow:0 0 0 1px rgba(0,0,0,0.4),0 0 0 2px rgba(0,0,0,0.2);


}

.background-bronze {
  background-color: #996633;
  border-style: outset !important;
  box-shadow:0 0 0 1px rgba(0,0,0,0.4),0 0 0 2px rgba(0,0,0,0.2);

}

.ecoline {
  font-weight:bold;
  margin-left: 10px;
  font-size:50px;
  letter-spacing:2px;
  font-weight:normal;
  color:rgb(0,180,0);
  text-shadow: -1px 0 #404040, 0 1px #404040, 1px 0 #404040, 0 -1px #404040, 5px 5px 5px grey;
}

.mining-guild {
  font-weight:bold;
  padding: 7px;
  font-size:28px;
  line-height: 26px;
  letter-spacing: 3px;
  margin-left:30px;
  color:#c9380e;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333, 2px 2px 2px  black;
}

.manutech {
  font-weight:bold;
  padding: 8px;
  font-size:30px;
  color: #e63900;
  margin-top:7px;
  margin-left: 5px;
  text-shadow:  6px 3px 5px  grey;
}

.teractor {
  padding: 8px;
  margin-top:5px;
  color: orangered;
  font-size:34px;
  font-family: 'Times New Roman';
  font-weight:normal;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333,0px -1px #333333, 6px 3px 5px  grey;
}

.phobolog {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 130px;
  font-size:24px;
  margin-left:20px;
  margin-top:9px;
  color:white;
  line-height:35px;
  background: #32004d;
  border-radius:20px;
  font-family: 'Times New Roman';
  box-shadow:  6px 6px 5px  grey;
}

.thorgate {
  font-size:30px;
  padding: 8px;
  margin-top:7px;
  margin-left:10px;
  font-family: 'Arial Narrow','Verdana';
  font-weight:normal;
  text-shadow: 6px 3px 5px  grey;
}

.saturn-systems {
  font-size:13px;
  color:white;
  line-height:40px;
  background: #32004d;
  padding-top:2px;
  padding-bottom:2px;
  width:170px;
  text-align: center;
  border-radius:50%;
  font-weight:normal;
  border:2px solid white;
  box-shadow:  6px 6px 5px grey;
  margin-top: 5px;
  margin-left: 10px;
}

.credicor {
  text-align: center;
  width: 150px;
  font-size:40px;
  color: white;
  font-family: 'Times New Roman';
  font-weight:normal;
  line-height:40px;
  border:2px solid purple;
  padding-left:5px;
  padding-bottom:5px;
  padding-right:5px;
  margin-left:15px;
  box-shadow: 6px 6px 10px grey;
  text-shadow:-1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple, 6px 6px 10px grey;
  margin-top:7px;
}

.aphrodite {
  font-size:26px;
  color: orange;
  margin-left:20px;
  font-weight:bold;
  margin-top:17px;
  text-shadow:  6px 6px 6px  grey;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333,0px -1px #333333, 6px 3px 5px  grey;
}

.tharsis {
  font-size:24px;
  text-shadow:6px 6px 6px grey;
  margin-top:4px;
  margin-left:10px;
  font-weight:bold;
}

.inventrix {
  font-size:24px;
  padding-left:5px;
  margin-top:10px;
  padding-bottom:5px;
  text-shadow: 6px 6px 5px grey;
  margin-top:16px;
  margin-left:10px;
  font-weight:bold;
}

.united-nations {
  font-size:16px;
  width:150px;
  color: white;
  margin-left:17px;
  margin-top:3px;
  padding:5px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  font-weight:normal;
  box-shadow:3px 3px 6px grey;
}

.helion {
  font-size:34px;
  font-weight: bold;
  width:140px;
  text-align: center;
  margin-top:10px;
  border:2px solid black;
  margin-left:25px;
  margin-top: 10px;
  background: #e6e600;
  box-shadow: 6px 6px 6px grey;
  border-radius:2px;
}

.viron {
  font-size:46px;
  font-weight: bold;
  margin-left:25px;
  margin-top: 7px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, 6px 3px 5px  grey;
}

.morning-star {
  font-size:20px;
  font-weight: bold;
  color:white;
  margin-left:15px;
  margin-top: 18px;
  line-height: 17px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 6px 3px 5px  grey;
}

.celestic {
  font-size:26px;
  font-weight: bold;
  margin-top:15px;
  box-shadow:6px 6px 6px grey;
  margin-left:25px;
  width:138px;
}

.modal-content1 {
    background-color: #fefefe;
    font-family: Arial,Verdana;
    line-height: 28px;
    margin-left:58px;
    margin-top: 192px;
    padding: 30px;
    border: 1px solid #888;
    width: 800px;
    transition-duration: 2s;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}
