/* fonts */
@font-face {
    font-family: Prototype;
    src: url(fonts/Prototype.ttf);
}

.playerStats {
    display: grid;
    position: relative;
    font-family: Prototype;
    grid-template-columns: 140px 80px 80px 80px 80px;
    background: #ccc;
    background: linear-gradient(to bottom right, #cccccc,#919191, #c9c9c9,#aaaaaa,#cacaca, #919191,#cccccc);
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    position: relative;
    text-align: center;
    border: 3px solid #ccc;
    margin-bottom: 10px;
}

.grid-cell {
      text-align: center;
      font-size: 16px;
      color: #444;
      height: 30px;
      line-height: 30px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
      background: #eee;
}

.grid-cell-stats {
      padding-left: 5px;
      font-size: 16px;
      height: 65px;
      line-height: 65px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
      color:white;
      text-shadow: 0 0 1px black, 0 2px 1px black;
}

.grid-cell-corporation {
      text-align: center;
      padding-right: 5px;
      font-size: 15px;
      height: 60px;
      padding-top: 5px;
      line-height: 18px;
      border-radius: 1px;
      border-top: 2px solid rgb(221,221,221);
      border-left: 2px solid rgb(221,221,221);
      border-bottom: 2px solid rgb(137,137,137);
      border-right: 2px solid rgb(137,137,137);
      color:black;
      font-weight: normal;
      text-shadow: none;
}

.header {
  border-left: none;
  border-right:none;
  color: white;
  text-shadow: 0 0 1px black, 0 3px 1px black;
}

.header-section {
  text-align: left;
  padding-left: 35px;
}

.ratio {
  font-size: 13px;
  width: 30px;
  color: #444;
  margin-left: 34px;
  margin-top: 20px;
  text-align: right;
  text-shadow: none;
}

.winrate {
  display: inline-block;
  position: absolute;
  width: 40px;
  text-align: left;
  font-size: 18px;
  margin-top: 18px;
  margin-left: -35px;

}

.points {
  display: inline-block;
  position: absolute;
  margin-top: 5px;
  margin-left: -36px;
  font-size: 18px;
  height: 27px;
  width: 62px;
  line-height: 27px;
  text-shadow: 0 0 5px darkorange;
  border-radius: 1px;
  border: 2px solid rgb(221,221,221);
  border-top: 2px solid rgb(137,137,137);
  border-left: 2px solid rgb(137,137,137);
  background: #444;
  color: white;
  text-shadow: 0 3px 1px black;
  box-shadow: inset 0 1px 3px 1px black;
}

.link {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.link:hover {
  background: #ccc;
  box-shadow: inset 0 0 0 1px #aaa;
}

/* Corporations CSS */
.credicor {
      text-align: center;
      font-size: 22px;
      color: white;
      font-family: 'Times New Roman';
      font-weight: normal;
      line-height: 40px;
      border: 2px solid purple;
      padding-left: 5px;
      margin-top: 2px;
      padding-right: 20px;
      margin-left: 7px;
      box-shadow: 6px 6px 10px grey;
      text-shadow: -1px 0 purple, 0 1px purple, 1px 0 purple, 0 -1px purple, 6px 6px 10px grey;
}

.ecoline {
  font-family: 'Arial';
  font-weight:bold;
  margin-top: 5px;
  margin-left: 8px;
  font-size:25px;
  letter-spacing: 2px;
  font-weight:normal;
  color:rgb(0,180,0);
  text-shadow: -1px 0 #404040, 0 1px #404040, 1px 0 #404040, 0 -1px #404040, 5px 5px 5px grey;
}

.helion {
  font-family: "Arial";
  color:black;
  font-size:28px;
  font-weight: bold;
  text-align: center;
  margin-left: 5px;
  border:2px solid black;
  margin-top: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #e6e600;
  box-shadow: 6px 6px 6px grey;
  border-radius:2px;
  text-shadow: none;
}

.mining-guild {
  font-weight:bold;
  font-family: "Arial";
  padding: 7px;
  font-size:20px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-left:3px;
  margin-top:-5px;
  color:#c9380e;
  text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 #333333, 0 -1px #333333, 2px 2px 2px  black;
  -webkit-transform:scale(1.5,1); /* Safari and Chrome */
  -moz-transform:scale(1.5,1); /* Firefox */
  -ms-transform:scale(1.5,1); /* IE 9 */
  -o-transform:scale(1.5,1); /* Opera */
  transform:scale(1.5,1); /* W3C */
}

.thorgate {
  font-size: 19px;
  letter-spacing: 2px;
  padding: 8px;
  margin-top: -2px;
  margin-left: 2px;
  font-family: Arial;
  text-shadow: 6px 3px 5px grey;
}

.united-nations {
  font-size: 14px;
  width: 110px;
  color: white;
  margin-left: 8px;
  margin-top: 0px;
  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  box-shadow: 0 0 0px 1px #888, 3px 3px 6px grey;
  background: #3b9ae3;
}









/* expansion icons */

.icon:after {
        position: absolute;
        border: 1px solid #444;
        font-size: 11px;
        line-height: 15px;
        width: 16px;
        height:16px;
        text-align: center;
        color: white;
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.7);
        content: "";
        background-size: 10px 10px !important;
        background-position: bottom 4px right 3px !important;
        background-repeat: no-repeat !important;
        margin-left: -26px;
        margin-top: 5px;
  }

.corporate-era-icon:after {
  background-color: #cc3333;
  background-image: url("images/triangle16.png");
}

.venus-icon:after {
  background: rgb(84,150,201);
  background-image: url("images/triangle16.png");
  transform: rotate(180deg);
}

.prelude-icon:after {
  background: rgb(235,118,171);
  background-image: url("images/triangle16.png");
  transform: rotate(-90deg);
}

.colonies-icon:after {
  content: "\25b2";
  color: #444444;
  border: 1px solid black;
  font-weight: bold;
  font-size: 17px;
  line-height: 13px;

}

.promo-icon:after {
    background: white;
    border: 5px solid #444444;
    width: 8px;
    height: 8px;
    color: white;
    content: "\0020";
}

.fanmade-icon:after {
    background: #444;
    border: 2px solid #eee;
    width: 14px;
    height: 14px;
    color: #eee;
    content: "F";
    font-size: 12px;
    line-height: 14px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.8), 0 0 0 1px rgba(0,0,0,0.4);
}
